@CHARSET "UTF-8";
html {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	color: #000000;
	margin: 0;
	padding: 0;
	border: 0px none;
}

body {
	width : 100%; 
	height : 100%;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.3em;
	font-style: normal;
	margin: 0;
	padding: 0;
}

hr#system-readmore {
	display: none !important;
}

/*System message*/
div#sys_msg{
	padding :  5px 0; 
	margin-left:25%; 
	position: absolute; 
	z-index: 9999; 
	width: 50%; 
	background: #FFFFFF; 
	color: #000000; 
	top: 55px; 
	border: double #1D69EF; 
	font-weight: bold; 
	display:none;
}
div.msgl{
	width: 100%; 
	padding: 2px 40px 2px 12px;
	z-index: 9999; 
}
div.msgr{
	position:absolute;
	z-index: 10000;
	right: 0;
	top: 2px; 
}
div.msgr img.krest-close { 
	z-index: 10000; 
	width:30px; 
	height:30px; 
	background: url("/images/krest.png") no-repeat left top transparent; 
	cursor:pointer;
}
img,body,html {
	border: 0 none;
}

img {
	vertical-align: middle;
	outline: none;
}

button, input {
	outline: none !important;
}
a, a:link, a:visited, a:active, a:focus {
	text-decoration: none;
	outline:none !important;
}
table{
	width:100%;
}
ul, ol{
	padding:0 0 0 15px;
}

a:hover {
	color: #666666;
	cursor: pointer;
}

.red, span.error, p.error, .label_required, .message_error{
	color: #FF0000;
}
.label_required, .label_unique{
	margin-right: 5px;
}

.label_unique{
	color: #007CFF;
}

.green, p.ok, .message_ok{
	color: green;
}

.blue {
	color: #0000FF;
}

div.clr {
	clear: both;
}

.float-fix {
	*height: 1%;
}
.break-row{
	clear: left;
}
.float-fix:after {
	content: ".";
	zoom: 1; /* set hasLayout */
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#BARMAZ-overlay {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 42000;
	background: url(/images/opacity03.png);
}

#BARMAZ-loading {
	top: 0px;
	width: 200px;
	min-height: 30px;
	line-height: 20px;
	position: fixed;
	padding: 15px 10px 15px 55px;
	cursor: pointer;
	z-index: 42001;
	border: 1px solid;
	border-radius:6px;
	background: url("/images/ajax-loader.gif") no-repeat 5px 50% #EEEEEE;
	opacity: 0.8;
}

#loading-text {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	color: #000000;
}

.prime{
	-moz-opacity:0.3;
	opacity:0.3;
	-khtml-opacity:0.3;
	filter: alpha(Opacity=30);
	display: block;
	text-align: center;
	position:absolute;
	background-color: #233D4E;
	width: 100%;
	height: 100%;
	z-index: 202000;
	left:0;
	top:0;
}

.invalid {
	border: 1px solid #FF0000 !important;
}

div{
	position:relative;
}

a.editButton {
	display: block;
	width: 19px !important;
	height: 19px !important;
	background: url("/images/edit16.png") no-repeat left top transparent;
	margin: 0 4px;
}

a.deleteButton {
	display: block;
	width: 19px !important;
	height: 19px !important;
	background: url("/images/delete16.png") no-repeat left top transparent;
	margin: 0 4px;
}
a.linkButton.disabled{
	color:#666666;
}
.printA4V {
	margin: 0 auto;
	width: 750px;
}

div#ui-datepicker-div {
/*
	z-index: 12345 !important; 
	display: none;
*/
}

div.balloon {
	display: none;
}

div.balloon_button {
	background: url("/images/info.png") no-repeat left top transparent;
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 4px;
	vertical-align: text-bottom;
}

div.delete-image label {
	display: inline-block;
	margin-left: 5px;
	margin-top: 4px;
	cursor: pointer;
}

@media print {
	.printhidden, #debugger {
		visibility: hidden !important;
		display: none !important;
	}
}

.moduleBody, .content {
	display: block;
	position: relative;
}
.moduleBody{
	padding-bottom:10px; 
}
.search-machine{
	padding-bottom:10px; 
}
.moduleShortcuts .btn{
	margin-right:10px;
	margin-bottom:10px;
}
.comment_controls .btn{
	margin-left:10px;
	margin-bottom:10px;
}

.readMore{
	text-align:right;
	padding: 10px 0 0;
}
.readMore a{
/*	float:right; */
}
#tabs{

}
.tab-content > .tab-pane{
	margin-bottom:5px; 
	padding:15px;
	border-left:1px solid #DDDDDD;	
	border-right:1px solid #DDDDDD;	
	border-bottom:1px solid #DDDDDD;	
}
.tab-content > .tab-pane-single{
	border:0px none;
	padding:0;	
}
div.buttons{
	text-align:center;
}
div.buttons-top{
	padding: 0 0 15px 0;
}
p.justify{
	text-align: justify;
}
.arr_dbg_head { border:1px solid black; padding:2px; margin-top:1px; margin-bottom: 0 !important; cursor:pointer; }
.arr_dbg_head big{ background-color:red; color:white; cursor:pointer; font-weight:bold; padding:2px 2px 1px; display: block; }
.arr_dbg { border-left:1px solid red; border-right:1px solid red; border-bottom:1px solid red; }
div.navigator{
	padding:15px 0 0 0;
}
.navigator_pages,
.navigator_records{
	display:block;
	margin-bottom:15px;	
	text-align:center;
}
div.navigator.is_ajax .pageLink{
	cursor:pointer;
}
#newCommentForm>.row{
	/* padding:0 0 15px; */
	margin-bottom: 15px;
}
#newCommentForm .row select,
#newCommentForm .row input[type=text],
#newCommentForm .row input[type=email],
#newCommentForm .row input[type=phone],
#newCommentForm .row input[type=password],
#newCommentForm .row textarea{
	width:100%;
}
div.single_comment .comment_date,
div.single_comment .comment_author{
	padding: 0 10px 0 0;
	*display:inline;
	display:inline-block;
}
div.single_comment div.comment_text{
	padding: 0 0 5px;
}
div.single_comment div.comment_rating,
div.single_comment div.comment_controls{
	border-top: 1px solid #DDDDDD;
	padding:5px 0;
	text-align: right;
}
div.single_comment div.comment_rating{
	text-align: left;
}
div.single_comment div.comment_admin_controls{
	border-top: 1px solid #DDDDDD;
	padding:5px 0;
}
div.single_comment div.vote_panel{
	display: inline-block;
	*display: inline;
	text-align: left;
	margin-left:10px;
}
div.single_comment div.rating{
	display: inline-block;
	*display: inline;
	text-align: left;
}
div.vote_panel a.vote_down img{
	width:16px;
	height:16px;
	background: url("/images/vote_sprite.png") no-repeat scroll 0px -16px transparent;
	margin: 0 5px 0 0;
}
div.vote_panel a.vote_down:hover img{
	background-position: 0px 0px;
}
div.vote_panel a.vote_up img{
	background: url("/images/vote_sprite.png") no-repeat scroll -16px -16px transparent;
	width:16px;
	height:16px;
	margin: 0 0 0 5px;
}
div.vote_panel a.vote_up:hover img{
	background-position: -16px 0px;
}
.moduleBody_nt.userModule #resetForm.commonPopup,
.moduleBody_nt.userModule #loginForm.commonPopup{
	background:#FFFFFF;
	min-width:300px;
	display: block;
}
.registrationFormField{
	margin-bottom:15px;
}
#resetForm input[type=text],
#resetForm input[type=password],
.registrationFormField input[type=text],
.registrationFormField input[type=password],
#loginForm.commonPopup input[type=text],
#loginForm.commonPopup input[type=password]{
	width:100%;
}
.remember_label input,
.remember_label .label{
	display:inline-block;
	*display:inline;
}
#sign_in{
	text-align:center;
}
.fake_label{
	display: inline;
	padding: .2em .6em .3em 0;
	font-size: 90%;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	vertical-align: baseline;
	border-radius: .25em;
}
.fake_label:empty {
	display: none;
}
fieldset legend{
	max-width: 100%;
}
.rounded-pan-mini{
	max-width:480px;
}
.rounded-pan-medium{
	max-width:750px;
}
#modify-wrapper .fileselector>div{
	width:100%;
}
.table-scroller-wrapper{
	overflow-x:auto;
	width:100%;
}
.table-scroller-wrapper>table{
	min-width:480px;
}
.search-results .row,
.search-sort.row,
.search-machine .row{
	margin-bottom:15px;
}
.search-machine .row input[type=text],
.search-machine .row select {
	width:100%;
}
.wrapper-datetimeselector,
.wrapper-filepath{
	padding-right:34px;
}
.wrapper-datetimeselector .date_selector,
.wrapper-filepath .filepath_selector{
	position:absolute !important;
	right:0;
	top:0;
}
.wrapper-datetimeselector .date_selector{
	text-align: center;
}
ul.hide_titles li span.mnu_title{
	display:none;
}
ul.hide_images li span.mnu_thumb,
ul.hide_images li span.mnu_image{
	display:none;
}
.ui-timepicker-div dt{
	font-size: 90%;
}
.linkButton{
	max-width: 100%;
	white-space: normal;
}
.fancybox-content .moduleBody_nt{
	padding: 10px;
}
#fancybox-title.fancybox-title-float{
	top: 5px;
	bottom: auto;
	/*bottom: unset; */
}
@media (max-width: 575px) {
	.moduleBody_nt.userModule #resetForm.commonPopup,
	.moduleBody_nt.userModule #loginForm.commonPopup {
		min-width:200px;
	}
}
