@CHARSET "UTF-8";

html {
	width: 100%;
	height: 100%;
	background: #FFFFFF url(about:blank);
	margin: 0;
	padding: 0;
}

body {
	color: #333333;
	font-family: Tahoma, Arial;
	font-style: normal;
	font-size: 11px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

hr#system-readmore {
	display: none !important;
}

img {
	outline: none;
	border: 0 none;
	vertical-align: middle;
}

:focus {
	outline: none;
}

button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner
	{ /* */
	border: none;
}

a img {
	border: none;
}

a,a:link,a:visited,a:active {
	outline: none;
}

a:hover {
	
}

table {
	border-collapse: collapse;
	border: 0px none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: left;
}

td {
	border-collapse: collapse;
	border: 0px none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

input,select {
	font-size: 11px;
	vertical-align: middle;
}

img.date_selector {
	cursor: pointer;
}

span.navigator {
	cursor: pointer;
}

div.fatal-error-text {
	text-align: center;
}

div.fatal-error-link {
	text-align: center;
	padding:10px 0 0 0;
}
div.fatal-error-link a{
	padding:5px 10px;
	color:#333333;
	border:1px solid #CCCCCC;
	background:#DEDEDE;
	text-decoration: none;
}
div.fatal-error-link a:hover,
div.fatal-error-link a:focus,
div.fatal-error-link a:active{
	color:#666666;
	border:1px solid #CECECE;
	background:#EFEFEF;
	text-decoration: none;
}
div#error_body {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #CCCCCC;
	margin: 30px auto;
	min-height: 150px;
	padding: 20px 10px;
	width: 300px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 3px 5px 10px #000000;
}

div#loginForm {
	display: none;
	margin: 20px auto;
	text-align: center;
/*	width: 400px; */
}

div#error_header {
	text-align: center;
	display: block;
	margin: 100px 0 0;
}

div#logo {
	display: block;
	margin: 0 auto 15px;
	width: 128px;
	height: 128px;
	background: url('/images/disabled.png') no-repeat;
}
div#logo.logo404 {
	background: url('/images/pacman.png') no-repeat;
}
div#logo.redirect {
	background: url('/images/redirect.png') no-repeat;
}
div#headLine {
	display: block;
	text-align: center;
}