@CHARSET "UTF-8";
div#phpinfo { width:95%; overflow-x:scroll; margin: 0 auto;}
div#phpinfo td {word-wrap:break-word !important; padding:4px;}
div#phpinfo td, div#phpinfo th, div#phpinfo h1, div#phpinfo h2 {font-family: sans-serif; padding:4px;}
div#phpinfo pre {margin: 0px; font-family: monospace;}
div#phpinfo a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
div#phpinfo a:hover {text-decoration: underline;}
div#phpinfo table {border-collapse: collapse;}
div#phpinfo .center {text-align: center;}
div#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left;}
div#phpinfo .center th { text-align: center !important; }
div#phpinfo td, div#phpinfo th { border: 1px solid #000000; vertical-align: baseline;}
div#phpinfo h1 {font-size: 150%;}
div#phpinfo h2 {font-size: 125%;}
div#phpinfo .p {text-align: left;}
div#phpinfo .e {background-color: #ccccff; font-weight: bold; color: #000000;}
div#phpinfo .h {background-color: #9999cc; font-weight: bold; color: #000000;}
div#phpinfo .v {background-color: #cccccc; color: #000000;}
div#phpinfo .vr {background-color: #cccccc; text-align: right; color: #000000;}
div#phpinfo img {float: right; border: 0px;}
div#phpinfo hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}