@CHARSET "UTF-8";
/*******************************/
.catalog-extended-filter .row{
	margin-bottom:0;
}
.catalog-extended-filter .row.singleRow{
	margin-bottom:10px;
}
.catalog-extended-filter .row input[type=text],
.catalog-extended-filter .row select {
	width:100%;
}
/*
.catalog-extended-filter .forminput>.row .formcheckboxes input[type="checkbox"]{
	margin-top:8px;
}
*/
.catalog-extended-filter .formcheckboxes-wrapper{
	max-height:180px;
	overflow-y:auto;
	overflow-x:hidden;
}
.catalog-extended-filter .forminput.formcheckboxes{
	float:left;
	clear:both;
	display:block;
	padding-bottom:5px;
}
/*
.catalog-extended-filter .formcheckboxes-collapsed .forminput.formcheckboxes.switchable-visible-row{
	display:none;
}
.catalog-extended-filter .formcheckboxes-opened .forminput.formcheckboxes.switchable-visible-row{
	display:block;
}
*/
.catalog-extended-filter .forminput.formcheckboxes:last-child{
	padding-bottom:0;
}
.catalog-extended-filter .forminput .formcheckbox-input,
.catalog-extended-filter .forminput .formcheckbox-label{
	float:left;
}
.catalog-extended-filter .forminput .formcheckbox-input{
	padding-top:1px;
}
.catalog-extended-filter .forminput .formcheckbox-input input[type="radio"]{
	
} 
.catalog-extended-filter .forminput .formcheckbox-input input[type="checkbox"]{
	margin-top:0;
}
.catalog-extended-filter .forminput .formcheckbox-label{
	padding-left:10px;
}
.catalog-extended-filter .forminput .formcheckbox-label label{
	cursor:pointer;
}
.catalog-extended-filter .forminput.switchable-visible-row{
	
}
.catalog-extended-filter .forminput .formcheckbox-show-more,
.catalog-extended-filter .forminput .formcheckbox-show-less{
	padding-top:5px;
}
.catalog-extended-filter .forminput .formcheckbox-show-more a i,
.catalog-extended-filter .forminput .formcheckbox-show-less a i{
	margin: 0 0 0 6px;
	font-size: 80%;
}
.catalog-extended-filter .row.singleRow .row.filterfloat > [class*="col-"],
.catalog-extended-filter .row.singleRow .row.filterint > [class*="col-"],
.catalog-extended-filter .row.singleRow .row.filterinterval > [class*="col-"]{
	margin-bottom: 0;
}
.catalog-extended-filter .buttons{
	padding-top:5px;
	text-align:center;
}
/*
.catalog-extended-filter .flt-ext-button{
	margin-top:15px;
	text-align:center;
}
*/
.catalog-extended-filter .row.singleRow.flt-ext-button{
	margin-top:25px;
	text-align:center;
	margin-bottom: 0;
}
.catalog-extended-filter form .row.flt-ext-button > [class*="col-"]{
	margin-bottom: 10px;
}
.catalog-extended-filter .buttons .btn{
	margin-right:5px;
}
.catalog-extended-filter span.w_reset_filter_key{
	display:block;
	height:16px;
	width:16px;
	float:right;
	cursor:pointer;
	background: url("/images/krest_grey_2.gif") no-repeat center center transparent;
	border:1px solid #CCCCCC;
}
.catalog-extended-filter .formlabel{
	line-height:1.4em;
	font-weight:bold;
}
.catalog-extended-filter form .row > [class*="col-"].formlabel{
	margin-bottom: 0;
}
.catalog-extended-filter .forminput label,
.catalog-extended-filter .forminput .formlabel{
	font-weight:normal;
	padding-top:0;
	padding-bottom:0;
}
.catalog-extended-filter .filter_text .w_filter_row{
	padding:5px;
	background:#FEFEFE;
	display:block;
	margin-bottom:2px;
}
.eq.singleSelect{
	padding-left:2px;
	padding-right:2px;
}
.filterinterval .formlabel,
.filtercurrency .formlabel{
	line-height: 32px;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.catalog-extended-filter .ui-slider-horizontal {
	 height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.catalog-extended-filter .ui-slider-horizontal .ui-slider-handle { 
	top: -5px;
	margin-left: -6px;
}
.catalog-extended-filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.catalog-extended-filter .ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.catalog-extended-filter .ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* оформление полосы по которой ходит ползунок */
.catalog-extended-filter .ui-widget-content { 
	border: 1px solid #D4D4D4;
	background: #FFFFFF;
	margin:14px 0 8px
}
/* оформление активного участка (между двумя ползунками) */
.catalog-extended-filter .ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #0000FF;
}
/* скругление для полосы слайдера */
.catalog-extended-filter .ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
@media  (max-width: 575px) {
	.catalog-extended-filter .filtercurrency>div{
		padding-bottom:5px;
	}
}