@CHARSET "UTF-8";
/************************/
.wforum {
	position: relative;
	margin-bottom: 10px;
	display:block;
}
.wfTheme {
	padding: 4px 1%;
	display:block;
}
.wfDate{
	padding: 0 8px 0 0;
	font-size: 0.9em;
}
