@CHARSET "UTF-8";
/*******************************/
.wgallery.row {
	margin-bottom: -10px;
}
.wgallery.row>[class*='col-']{
	margin-bottom: 10px;
}
.wgallery.row>.col-xs-2:nth-child(6n+1),
.wgallery.row>.col-xs-3:nth-child(4n+1),
.wgallery.row>.col-xs-4:nth-child(3n+1),
.wgallery.row>.col-xs-6:nth-child(2n+1){
	clear: both; 
}
