@CHARSET "UTF-8";
/************************************************************/
/*** Tree START ***/
.tree_menu.treeview, 
.tree_menu.treeview ul { padding: 0; margin: 0; list-style: none; }
.tree_menu.treeview { margin: 0 0 10px 0; }
.tree_menu.treeview ul { margin-top: 0; }
.tree_menu.treeview li a { line-height:16px; display: block; padding-top:4px; padding-bottom:4px; }
.tree_menu.treeview li.active a { color: #003388; text-decoration: none; }
.tree_menu.treeview li.active > a { color: #333333; text-decoration:underline;}
.tree_menu.treeview li { margin: 0; padding: 0 0 0 20px; background: url(/images/trview/treeview-folders-line.png) 0 0 no-repeat; list-style:none outside none; list-style-image:url(/images/blank.gif); }
.tree_menu.treeview li.collapsable, div.catalog .treeview li.expandable { background-position: 0 -176px; }
.tree_menu.treeview div.collapsable-hitarea { background-position: -64px -25px; }
.tree_menu.treeview div.expandable-hitarea { background-position: -80px -3px; }
.tree_menu.treeview li.lastExpandable { background-position: left 0 bottom 12px; }
.tree_menu.treeview li.lastExpandable div { background-position:	-32px -67px; }
.tree_menu.treeview li.lastCollapsable { background-position: 0 -7764px; }
.tree_menu.treeview div.lastCollapsable-hitarea { background-position: 0px -111px; }
.tree_menu.treeview li.last { background-position: 0 -7766px }
.tree_menu.treeview .hitarea {
	height: 16px;
	width: 20px;
	margin-top:2px;
	margin-left: -20px;
	float: left;
	cursor: pointer;
	background-image: url(/images/trview/treeview-folders.gif);
}
/*** Tree STOP ***/
/********************************************************************/
/*** Render type 3 START ***/
.menu-tree-wrapper.menu-render-type-3{
	padding-bottom: 10px;
}
.menu-tree-wrapper.menu-render-type-3 > ul{
	margin:0;
	padding:0;
}
.menu-tree-wrapper.menu-render-type-3 > ul ul{
	padding:0 0 0 15px;
	display:none;
}
.menu-tree-wrapper.menu-render-type-3 li{
	margin:0;
	display:block;
	text-align:left;
	list-style:none;
	position: relative;
}
.menu-tree-wrapper.menu-render-type-3 li.active > ul{
	display:block;
}
.menu-tree-wrapper.menu-render-type-3 ul li a{
	display:block;
}
.menu-tree-wrapper.menu-render-type-3 ul:not(.nav-pills) li > a{
	padding-top:5px;
	padding-bottom:5px;
}
.menu-tree-wrapper.menu-render-type-3 ul:not(.nav-pills) li.active > a,
.menu-tree-wrapper.menu-render-type-3 ul:not(.nav-pills) li:hover > a{
	color:#666666;
	background: transparent;
}
.menu-tree-wrapper.menu-render-type-3 ul ul li:hover > a{
	text-decoration:underline;
}
.menu-tree-wrapper.menu-render-type-3 > ul > li.active > ul{
	border-bottom: 1px solid #CCCCCC;
}
.menu-tree-wrapper.menu-render-type-3 > ul:not(.nav-pills) > li.active > ul{
	border-bottom: 0px none;
}
/*** Render type 3 STOP ***/
/********************************************************************/
.footer-menu ul{
	padding:0;
	list-style: none;
}
.footer-menu ul li{
	
}
.footer-menu ul li.active{
	
}
.footer-menu ul li a{
	display:block;
}
.footer-menu ul li.active a{
	text-decoration: underline;
}
.footer-line-menu ul{
	padding:0;
	list-style: none;
	display:block;
	display:table;
	width:100%;
}
.footer-line-menu ul li{
	display:inline-block;
	display:table-cell;
	/*text-align: center;*/
}
.footer-line-menu ul li.active{
	
}
.footer-line-menu ul li a{
	display:inline-block;
}
.footer-line-menu ul li.active a{
	text-decoration: underline;
}
