@CHARSET "UTF-8";
.w_remotegoods{
	min-height:100px;
	padding-bottom: 25px;
}
.w_remotegoods .g_thumb{
	float:left;
	padding: 0 15px 0 0;
	z-index: 2;
}
#left_column .w_remotegoods .g_thumb,
#right_column .w_remotegoods .g_thumb,
.t_half .w_remotegoods .g_thumb{
	float:none; 
	padding: 0 0 15px 0;
	display:block;
	text-align:center;
}
.w_remotegoods .g_title a{
	display: block;
	font-size: 14px;
	padding: 0 0 6px;
}
.w_remotegoods .g_text{
	overflow-x: hidden;
	display: inline;
}
.w_remotegoods .readMore{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}