@CHARSET "UTF-8";
/*******************************/
#w_search_keywords{
	color:#999999;
}
.w_searchform_button{
	width:32px;
	height:32px;
	position:absolute;
	right:2px;
	bottom:0;
}
.w_searchform.search-with-button input{
	padding-right:36px;
}
.w_searchform_button input{
	width:32px;
	height:32px;
	background: url(/images/search.png) no-repeat 0 0;
	border:0px none;
}
