@CHARSET "UTF-8";
div.cabinet-menu ul.dot a.logout,
div.cabinet-menu ul.dot a.cabinet,
div.cabinet-menu ul.dot a.posta,
div.cabinet-menu ul.dot a.login,
div.cabinet-menu ul.dot a.register,
div.cabinet-menu ul.dot a.remind_pass,
div.cabinet-menu ul.dot a.but_basket,
div.cabinet-menu ul.dot a.admin-link {
	padding: 4px 0 4px 32px;
	display:block;
}
div.cabinet-menu ul.dot{
	margin:0;
	padding:0;
}
div.cabinet-menu ul.dot li{
	list-style:none;
}
div.cabinet-menu ul.dot a span{

}
div.cabinet-menu ul.dot a.admin-link {
	background:url("/templates/html5/images/ruling16.png") no-repeat scroll left center transparent;
}
div.cabinet-menu ul.dot a.but_basket{
	background:url("/templates/html5/images/basket.png") no-repeat scroll left center transparent;
}
div.cabinet-menu ul.dot a.logout{
	background:url("/templates/html5/images/exit.png") no-repeat scroll left center transparent;
}
div.cabinet-menu ul.dot a.cabinet{
	background:url("/templates/html5/images/cabinet.png") no-repeat scroll left center transparent;
}
div.cabinet-menu ul.dot a.posta{
	background:url("/templates/html5/images/letter16.png") no-repeat scroll left center transparent;
}
div.cabinet-menu ul.dot a.login{
	background:url("/templates/html5/images/key.png") no-repeat scroll left center transparent;
}
div.cabinet-menu ul.dot a.register{
	background:url("/templates/html5/images/register.png") no-repeat scroll left center transparent;
}
div.cabinet-menu ul.dot a.remind_pass{
	background:url("/templates/html5/images/remind.png") no-repeat scroll left center transparent;
}
