@CHARSET "UTF-8";

html {
	width				: 100%;
	height			: 100%;
	background	: #FFFFFF url(about:blank);
	margin			: 0;
	padding			: 0;
}

body {
	color					:	#666666;
	font-family		: Tahoma, Arial;
	font-style		: normal;
	font-size		:	11px;
	line-height		: 1.4;
	margin			: 0;
	padding			: 0;
}
img{
	outline	: none;
	border	: 0 none;
	vertical-align:middle;
}
:focus {
	outline: none;
}
button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
	border: none;
}
a img {border: none;}
a, a:link, a:visited, a:active {
	outline: none;
	color				:	#666666;
	text-decoration: none;
}

a:hover {
	color				:	#006600;
}
table {
	border-collapse	:collapse;
	border					:0px none;
	margin					: 0 auto;
	padding					: 0;
	width				: 100%;
	text-align: left;
}
td {
	border-collapse:collapse;
	border:0px none;
	padding:0;
	margin:0;
}
input, select {
	font-size		:	11px;
	vertical-align:middle;
}
img.date_selector {
	cursor: pointer;
}
span.navigator{
	cursor:pointer;
}
div.balloon{
	display:none;
}
div.balloon_button{
	background: url("/images/info.png") no-repeat left top transparent;
	width:16px;
	height:16px;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 4px;
 	vertical-align:text-bottom;
}