@CHARSET "UTF-8";

.articleProp {

}
#articleEditorFooter{
	text-align:center;	
}
#articleHeader {
	display: block;
	padding: 10px 0;
	width: 100%;
}

select#ArticleParent {
	width: 100%;
}
#articleTextRead{
	padding-bottom: 15px;
}
img.articleThumb {
	float: left;
	margin: 10px 10px 0 0;
}
ul#article_tree.treeview, .treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul#article_tree.treeview ul {
	margin-top: 4px;
}
ul#article_tree.treeview .hitarea {
	background: url(/images/trview/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
ul#article_tree.treeview li {
	margin: 0;
	padding: 0px 0px 0px 16px;
	list-style:none outside none;
	list-style-image:url(/images/blank.gif);
}
ul#article_tree.treeview li > a {
	margin: 0;
	padding: 0px 0px 0px 3px;
}
ul#article_tree.treeview li .listgr,
ul#article_tree.treeview li.active li .listgr { color: #666666; }
ul#article_tree.treeview li.active .listgr { color: #CF052B; }
ul#article_tree.treeview li .listgr:hover { color: red; cursor: pointer; }
ul#article_tree.treeview li { background: url(/images/trview/treeview-default-line.gif) 0 0 no-repeat; }
ul#article_tree.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
ul#article_tree.treeview .collapsable-hitarea { background-position: -64px -23px; }
ul#article_tree.treeview .expandable-hitarea { background-position: -80px -3px; }
ul#article_tree.treeview li.last { background-position: 0 -1766px }
ul#article_tree.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(/images/trview/treeview-default.gif); }
ul#article_tree.treeview li.lastCollapsable { background-position: 0 -111px }
ul#article_tree.treeview li.lastExpandable { background-position: -32px -67px }
ul#article_tree.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
ul#article_tree.treeview .disabled a{ color: #A0A0A0;}
.articleShare{
	float:right;
}
.articleEdit input[type=text],
.articleEdit select{
	width:100%;
}
.articleEdit>div{
	padding:0 0 15px;
}
.artBlock{
	margin-bottom:15px;
}
.artBlock h2{
	margin-top:0;
}
.articleChildsTitle{
	font-size:140%;
	margin-bottom: 10px;
}
.articleChild{
	margin-bottom: 5px;
}