@CHARSET "UTF-8";

div.postBlock {
	margin-bottom: 15px;
}
div.postBlock>.row{
	margin-bottom:15px;
}
div.postBlockComment {
	margin: 0 0 10px;
	float: left;
	padding: 4px 2% 4px 0;
	width: 98%;
}
div.leftblog { /*
	width:74%;
	float:left;
*/
}
div.rightblog {
	width: 170px;
	float: right; 
	padding: 0 0 10px 10px;
	font-size: 90%;
}
.postList .postBlock .postTheme {
	padding: 0 0 5px;
}
.postList .postBlock .postTheme .postDate{
	padding-right:5px;
}
.postList .postBlock .postTheme a{
	font-size:115%;
}
.postList .postBlock .postText,
.postBlock.singlePost .postText{
/*	width: 100%;
	padding: 5px 0; */
}
.postList .postBlock .postThumb {
	width: 150px;
	float: left;
	padding: 0 10px 10px 0;
}
.postBlock.singlePost .postThumb{
	max-width:300px;
	float: left;
	padding: 0 15px 15px 0;
}
div.blogDescr {
	padding: 0;
	display: block;
}

div.postAutor {
	width: 100%;
	float: right;
	padding: 15px 0;
}
div.postAliasEditor, div.postBlogEditor, div.postThemeEditor {
	padding: 5px 0;
}
.postAliasEditor input, .postBlogEditor input, .postThemeEditor input, .postTagsEditor input, .postBlogEditor select{
	width:100%;
}

#postEditorFooter{
	padding:15px 0 0 0;
	text-align:center;
}
div.postBlogEditor label, div.postThemeEditor label, div.postAliasEditor label, div.postTextEditor label {
	font-weight: bold;
	margin: 0 10px 0 0;
}

div.postTextEditor {
	padding: 5px 0;
}

div.postTagsEditor {
	padding: 5px 0;
}

div.reper {
	width: 100%;
	clear: both;
}

div.commentBlock {
	padding: 4px 0;
/*	float: left; */
	width: 100%;
}

div.subCommentBlock {
	padding: 4px 2%;
	float: left;
	width: 95%;
}

div.commentHeader {
	width: 97%;
	float: left;
	padding: 5px 1%;
	font-weight: bold;
	font-size: 100%;
	background: none repeat scroll 0 0 #DFDFDF;
	border: 1px solid #DFDFDF;
}

div.commentText {
	width: 100%;
	float: left;
	padding: 5px 6px;
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #DFDFDF;
}

div.commentFooter {
	background: none repeat scroll 0 0 #DFDFDF;
	border: 1px solid #DFDFDF;
	float: left;
	padding: 4px 6px 3px;
	margin: 0 0 8px;
	width: 100%;
	text-align: right;
}

div.commProp {
	float: right;
	font-size: 10px;
}

div.commProp div.vote_panel {
	float: right;
	margin: 0 0 0 20px;
}

div.newCommentForm {
	float: left;
}
div.buttons {
	padding: 15px 0;
	text-align: center;
}

div#newCommentForm {
/*	float: left; */
}

div#commentLabel {
/*	font-size: 13px; */
	font-weight: bold;
	margin: 6px 0 10px;
}

h4.postBlockComment {
	padding: 5px 0;
	margin: 0;
}

a.commentFooterLink {

}

img.clearAnswerTo {
	width: 16px;
	height: 16px;
	background: url(/images/krest.gif) no-repeat left top;
	vertical-align: middle;
	margin: 0 5px 0 0;
	cursor: pointer;
}

h4.blogCommentWarning {
	text-align: center;
}
.postShare{
	float: right;
}
.postListRating{
	text-align:right;
}
.post-dates{
	padding-top:5px;
	padding-bottom:15px;
}
@media (max-width: 576px){
	.postBlock.singlePost .postThumb{
		float:none;
		padding:0 0 15px;
		margin: 0 auto;
		display: block;
	}	
}
