@CHARSET "UTF-8";
/************************/
/* Standart two panel list of spravochnick*/
div.catalog_list,
div.catalog_info{

}
.catalog_list .row{
/*	margin-bottom:15px; */
}
div#pl_content{
	overflow:auto;
	min-height:400px;
	padding:2px 10px;
}
div#listtarget{
	overflow:auto;
	min-height:400px;
	padding: 2px 5px 2px 5px;
}
div#bgcontent{ 
	padding: 5px; 
}
div.contlist{
	margin-bottom:16px;
	padding:0 5px 5px;
	width: 100%;
}
div#contlist {
	padding:5px 0;
}
.catalog_info .row > [class*="col-"],
.videoset .row > [class*="col-"],
.analogs .row > [class*="col-"],
.additionals .row > [class*="col-"]{
	margin-bottom:15px;
}
.catalog_info .row.g_mini_thumbs{
	margin-bottom:0px;
}
.catalog_info .row .g_mini_thumb{
	margin-bottom:15px;
}

ul#groupstree {
	margin:0;
	padding:0 10px;
}
ul#product_info_switcher{float:left;}
ul#product_info_switcher li{
	display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
	*display: inline;
}
ul.switcher li.switcher {
	cursor:pointer;
	padding: 1px 5px 1px 0;
}
table.orders th,
table.orders td {
	text-align:center;
}
table.orders td a {
	text-decoration:underline;
}
div.delivery_form {

}
#common_contacts,
div.delivery_form fieldset{
	width:100%;
	padding: 10px 18px 8px 18px;
}
#delivery_form .row{
	/*margin-bottom:15px;*/
}
div.form_selector {
	display:block;
	width:100%;
	float:left;
}
div.form_selector a#kvit,
div.form_selector a#schet{
	float:left;
	margin-right:20px;
}
.fancybox-content #pay_but {
	float:right;
	margin-top:10px;
}
.fancybox-content #print_but {
	float:left;
	margin-top:10px;
}
/*******************************************/
div#myorder{
	margin-top:5px;
}
div.one_order table.orders{
	border-collapse: collapse;
	
}
div.one_order table.orders td{
	border:1px dotted;	
}
div.one_order table.orders td.total,
div.one_order table.orders td.subtotal,
div.one_order table.orders td.taxes,
div.one_order table.orders td.payments,
div.one_order table.orders td.deliveries{
	text-align:right;
}
a.customFilterLink{
	padding: 0 20px 0 4px;
}
a.customFilterLink:hover{
	text-decoration:none;
	color:#000000;
	background:url(/images/krest_grey.gif) no-repeat right center transparent;
}
.goods-list .ishit,
.catalog_info .ishit,
.goods-list .isnew,
.catalog_info .isnew{
	top:-10px;
	width:36px;
	height:36px;
	position:absolute;
	z-index:999;
}
.goods-list .ishit,
.catalog_info .ishit{
	background: url(/images/ishit.png) no-repeat right top transparent;
	left:-10px;
}
.goods-list .isnew,
.catalog_info .isnew{
	background:url(/images/isnew.png) no-repeat right top transparent;
	right:-10px;
}
.catalog_info .ishit,
.catalog_info .isnew{
	width:50px;
	height:50px;
}
.catalog_info .ishit{
	background-image: url(/images/ishit_50.png);
}
.catalog_info .isnew{
	background-image:url(/images/isnew_50.png);
}
.g_thumb{
	text-align:center
}
.g_thumb .nolink,
.g_thumb a,
.g_thumb .g_thumb_link{
	display:block;
	border:1px solid #CCCCCC;
	padding:10px;
}
div.g_mini_thumb{

}
div.g_mini_thumb a{
	display:block;
	border:1px solid #AAAAAA;
	max-width:100%;
	overflow:hidden;
	text-align:center;
	padding:1px;
}
div.g_mini_thumb img{
	max-width:100%;
	vertical-align:middle;
}
/**** VIDEO *****/
div.videoset{
	width:100%;
	margin: 15px 0 0;
}
div.videoset div.goods-video{
	margin: 0 0 20px;
	padding: 0;
}
div.videoset div.goods-video p.video-title{
	text-align:center;
}
div.videoset div.goods-video .videocontainer div:not([class]){
	position:initial;
}
/*
div.videoset div.goods-video .videocontainer{
	min-height:150px;
}
div.goods-video .videocontainer .video-js.vjs-fluid {
	height: auto;
}
*/
/**** QUADRO *****/
.quadro-wrapper{
	border:1px solid #CCCCCC;
	padding:15px;
	text-align:center;
	margin-bottom:15px;
}
.quadro-wrapper:hover{
	border-color: #AAAAAA;
	-webkit-box-shadow: 0 0 4px #CCCCCC;
	-moz-box-shadow: 0 0 4px #CCCCCC;
	box-shadow: 0 0 4px #CCCCCC; 	
}
/***** VENDORS *****/
.manufacturer-wrapper,
.vendor-wrapper{
}
.group-img a,
.group-img img,
.manufacturer-logo a,
.manufacturer-logo img,
.vendor-logo a,
.vendor-logo img{
	max-width:100%;
	margin:0 auto;
}
.group-short{
	margin-bottom:20px;
}
.goods-element .add2basket{
	padding-top:10px;
}
.g_quantity,
.g_price,
.g_title,
.group-link,
.manufacturer-link,
.vendor-link{
	padding-top:10px;
	display:block;
	text-align:center;
}
.catalog_list .g_thumb{
	margin:0 0 15px 0;
}
.catalog_list .g_title{
	margin:0 0 15px 0;
}
.goods-element .g_price {
	font-size: 16px;
}
.characteristics .char_element,
.g_custom_properties .char_element,
.complect-set .char_element {
	text-align:left;
	margin-bottom: 5px;
}
.characteristics .char_element .char_value,
.g_custom_properties .char_element .char_value,
.complect-set .char_element .char_value{
	font-size:90%;
	padding-top:.2em ;
	padding-bottom:.3em;
	margin-bottom:5px;
}
.characteristics .char_element .char_label,
.g_custom_properties .char_element .char_label,
.complect-set .char_element .char_label{
	padding-top:.2em;
	/* padding-top:3px; */
	/* padding-right:0; */
	margin-bottom:5px;
}
.characteristics .char_element .char_value img,
.g_custom_properties .char_element .char_value img,
.complect-set .char_element .char_value img{
	width:auto;
}
.characteristics .char_element .fake_label,
.g_custom_properties .char_element .fake_label,
.complect-set .char_element .fake_label{
	display:block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	word-break: normal;
	text-align: left;
}
.complect-set .title{
	margin-bottom:10px;
}
.catalog_info .g_price{
	margin-bottom:15px;
	font-size:150%;
	text-align:right;
	padding:0;
}
.catalog_info .g_price.g_price_4{
	margin-bottom:20px;
}
.additionals .g_price .old_price,
.analogs .g_price .old_price,
.goods-list .g_price .old_price,
.catalog_info .g_price .old_price{
	margin-bottom:5px;
	font-size:80%;
	text-align:right;
	display:block;
	text-decoration: line-through;
	color:#FF0000;
}
.additionals .g_price,
.analogs .g_price{
	font-size:120%;
}
.additionals .g_price .old_price,
.analogs .g_price .old_price{
	font-size:100%;
}
.goods-list .g_price .old_price{
	margin-bottom:0;
}
/*
.catalog_info .label{
	font-size:100%;
	text-align:right;
}
*/
.catalog_info .add2basket .linkButton{
	width:100%;
}
.g_quantity input[type=text]{
	text-align:center;
	font-size:80%;
}
#goods-list-controls-block{
	/*margin-bottom: 15px;*/
}
#goods-list-controls-block .sort-block > ul{
	margin-bottom: 7px;  
}
#goods-list-controls-block .sort-block .nav li{
	margin-right: 4px;
	margin-bottom: 8px;
}
#goods-list-controls-block .sort-block .nav li a{
	padding-top:8px;
	padding-bottom:8px;
	border: 1px solid;
}
#goods-list-controls-block .sort-block .nav li.active a{
	padding-right: 30px;
}
#goods-list-controls-block .sort-block .nav li.active i{
	position:absolute;
	top: 12px;
	right: 8px;
	margin: 0;
}
#goods-list-controls-block .sort-block select{
	line-height:36px;
	height:36px;
	max-width:100%;
}
#goods-list-controls-block .sort-block .sorting-select{
	margin-bottom: 15px;
} 
#goods-list-controls-block .filter-block{
	float:right;
	z-index: 1;
	margin-bottom: 15px;
} 
#goods-list-controls-block .goods-list-mode-switcher{
	float:right;
	z-index: 1;
	margin-bottom: 15px;
} 
.catalog_list .filter-block .filter-button a{
	width:36px;
	height:36px;
	padding:6px 0;
	margin:0 0 0 4px;
	display:block;
}
.catalog_list .filter-block .filter-button a i{
	vertical-align:middle;
}
.order-up.active i.glyphicon,
.order-down.active i.glyphicon{
	margin-left:6px;
}
.catalog_list .filtered{
	color:#337AB7;
	margin-bottom: 15px;
}
/************** Basket ***************/
.basket-header{
	font-weight:bold;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom: 1px solid #CCCCCC;
}
.basket-header-sku,
.basket-header-name,
.basket-header-points,
.basket-header-price,
.basket-header-quantity,
.basket-header-measure,
.basket-header-sum{
	
}
.basket-header-measure{
	text-align:center;	
}
.basket-header-points,
.basket-header-price,
.basket-header-quantity,
.basket-header-sum{
	text-align:center;	
}
.basket-body .row>div{
	padding-bottom:10px;
}

.basket-row{
	margin-bottom:10px;
	border-bottom: 1px solid #CCCCCC;
}
.basket-row .basket-row-cell.basket-row-sku{
	/*font-size:80%;*/
}
.basket-row .basket-row-cell.basket-row-quantity .quantity-field{

}
.basket-row .basket-row-cell.basket-row-quantity .basket-sell-measure{
	font-size:80%;
	color:#A0A0A0;
}
.basket-row.error .basket-row-cell.basket-row-quantity input{
	background-color: #FFA8A4;
}
.basket-row-options{
	color:#777777;
	font-size: 80%;
	display:block;
}
.basket-footer{
	font-weight:bold;
	margin-bottom:15px;
}
.fancybox-content .full_basket_ajax .basket-footer{
	margin-bottom:5px;
}
.order_row,
.basket-vendor,
.submit_selector,
.selector_pane{
	margin-bottom:15px;
}
.selector_pane input[type=radio]{
	display:inline-block;
}
.basket-footer .row {
	margin-bottom:10px;
}
.basket-footer .buttons{
	
}
#dt_selector .buttons{
	padding-top:20px;
	padding-bottom:20px;
}
div.agree_selector{
	margin: 0 0 15px 0;
}
.agree_selector label{
	display:inline;
}
.agree_selector #i_agree{
	margin-right:10px;
}
#dt_selector .buttons .btn{
	margin-left:3px;
	margin-right:3px;
}
.submit_selector .fake_label,
.selector_pane .fake_label,
.selector_pane .label{
	font-size:100%;
}
.basket-row-sku *,
.basket-row-name *,
.basket-row-points *,
.basket-row-price *,
.basket-row-quantity *,
.basket-row-measure *,
.basket-row-sum *{

}
.basket-row-quantity{
	text-align:center;
}
.basket-row-points,
.basket-row-price,
.basket-row-sum{
	text-align:right;
}
.basket-row-measure,
.basket-row-quantity{
	text-align:center;
}

.basket-row-quantity > div > div{
	padding-right:35px; 
}
.basket-row-quantity.read-only > div > div{
	padding-right:0px;
}
.basket-row-sum > div > div{
	padding-right:35px;
}
.basket-row-sum.read-only > div > div{
	padding-right:0;
}
div.empty_basket{
	font-weight:bold;
	margin:0;
	padding:2px 4px;
}
.basket-row a.b_link_save, .basket-row a.b_link_del{
	display:block;
	position:absolute;
	right:0;
	top:50%;
	margin-top: -16px;
	width:32px;
	height:32px;
}
.basket-row a.b_link_save img, .basket-row a.b_link_del img{
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}
@media (min-width: 768px) {
	.basket-row-points,
	.basket-row-price,
	.basket-row-measure,
	.basket-row-sum{
		text-align:center;
	}
}
@media (max-width: 767px) {
	.basket-body .row>div{
		line-height: 24px;
	}
	.basket-row .basket-row-cell.basket-row-sku{
		/*font-size:100%;*/
	}
	.basket-row-quantity,
	.basket-row-measure,
	.basket-row-points,
	.basket-row-price,
	.basket-row-sum{
		text-align:left;
	}
	.basket-row-sku *,
	.basket-row-name *,
	.basket-row-points *,
	.basket-row-price *,
	.basket-row-quantity *,
	.basket-row-measure *,
	.basket-row-sum *{
		margin-bottom:5px;
		line-height:inherit;
	}
	.basket-footer-points{
		margin-bottom:10px;
	}
	.basket-row .basket-row-del a.b_link_del{
		position:relative;
		right:initial;
		top:initial;
	}
}
.orders-wrapper{
	overflow-x:auto;
}
/* options on info page*/
.options div.checkbox,
.options div.radio{
	margin-top: 0px;
	margin-bottom: 5px;
}
.options .quantity-control{
	text-align:center;
}
.options .checkbox_image,
.options .radio_image{
	text-align:center;
}
.options .checkbox_image input[type="checkbox"],
.options .radio_image input[type="radio"]{
	text-align:center;
	position:relative;
	margin: 0 auto 10px;
}
.options .checkbox_image img, 
.options .radio_image img{
	margin: 0 0 5px 0;
}
.options .checkbox_image .option_title,
.options .radio_image .option_title{
	text-align:center;
	display:block;
}
.options .select_image{
	margin: 10px auto 0;
}
.options .option_select .quantity-control{
	margin: 10px auto 0;
}
.choice_aa.grid.field_i_g_options_text{
	white-space: normal;
}
.basket-footer .linkButton,
#sign_in .linkButton{
	margin:5px;
}
.order_error{
	color:#FF0000;
}
#info_container{
	text-align:center;
	font-size:130%;
}
#info_container .delivery_error{
	font-weight:bold;
}
.basket-min-sum-caution{
	font-size:90%;
	color:#FF0000;
}
#payment_selector .payment_comment,
#delivery_selector .delivery_comment{
	color:#888888;
	display:block;
}
#delivery_selector .fake_label.delivery .delivery_comment{
	text-align:left;
}
#payment_selector .label .pts_logo,
#payment_selector .fake_label .pts_logo,
#delivery_selector .label .dts_logo,
#delivery_selector .fake_label .dts_logo{
	max-width:100px;
	max-height:100px;
	margin-top: 5px;
}
.actionsButtons{
	text-align: right;
	margin-bottom: 15px;	
}
.goods-list .favouritesButtons,
.goods-list .compareButtons,
.catalog_info .favouritesButtons,
.catalog_info .compareButtons{
	display:inline-block;
	margin-left:5px;
}
.goods-list .favouritesButtons i,
.goods-list .compareButtons i,
.catalog_info .favouritesButtons i,
.catalog_info .compareButtons i{
	font-size: 110%;
	vertical-align: middle;
}
.goods-list .favouritesButtons .addToFavourites,
.goods-list .favouritesButtons .removeFromFavourites,
.catalog_info .favouritesButtons .addToFavourites,
.catalog_info .favouritesButtons .removeFromFavourites{
	display:none;
}
.goods-list .favouritesButtons.notInFavourites .addToFavourites,
.goods-list .favouritesButtons.inFavourites .removeFromFavourites,
.catalog_info .favouritesButtons.notInFavourites .addToFavourites,
.catalog_info .favouritesButtons.inFavourites .removeFromFavourites{
	display:inline-block;
}
.goods-list .compareButtons .addToCompare,
.goods-list .compareButtons .removeFromCompare,
.catalog_info .compareButtons .addToCompare,
.catalog_info .compareButtons .removeFromCompare{
	display:none;
}
.goods-list .compareButtons.notInCompare .addToCompare,
.goods-list .compareButtons.inCompare .removeFromCompare,
.catalog_info .compareButtons.notInCompare .addToCompare,
.catalog_info .compareButtons.inCompare .removeFromCompare{
	display:inline-block;
}
.goods-list .compareButtons.notInCompare .addToCompare,
.catalog_info .compareButtons.notInCompare .addToCompare{

}
.goods-list .favouritesButtons.inFavourites .removeFromFavourites,
.goods-list .compareButtons.inCompare .removeFromCompare,
.catalog_info .favouritesButtons.inFavourites .removeFromFavourites,
.catalog_info .compareButtons.inCompare .removeFromCompare,
.compare-list .compareButtons.inCompare .removeFromCompare{
	color:#EEE000;
}
.compare-table{
	
}

.compare-table.compare-table-horizontal td{
	min-width:100px;
	vertical-align: middle;
}
.compare-table.compare-table-horizontal td.compareButtons-wrapper-cell{
	min-width:10px;
	vertical-align: middle;
}
.table.compare-table.compare-table-horizontal > thead > tr > th,
.table.compare-table.compare-table-vertical > tbody > tr > th,
.table.compare-table.compare-table-vertical > tbody > tr > td{
	vertical-align: middle;
	text-align:center;
}
.table.compare-table.compare-table-vertical td{
	min-width:100px;
	text-align:center;
}
.catalog_info .boolean_on,
.compare-table .boolean_on {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background: url("/images/on.png") no-repeat left top transparent;
	display: inline-block;
}
.catalog_info .boolean_off,
.compare-table .boolean_off {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background: url("/images/off.png") no-repeat left top transparent;
	display: inline-block;
}
.modify-wrapper .prm_descr_elem{
	/* margin-top:5px; */
	padding: 10px;
	color: #666666;
	/* border-radius: 8px; */
	border-radius: 0 0 8px 8px;
	background:#F6F6F6; 
}
/***************************************************************************/
/********************** Goods list as rows *********************************/
/***************************************************************************/
@media (min-width: 768px) {
	.catalogModule .catalog_list .goods-list-mode-switcher{
		/*display:block !important;*/
		text-align:right;
		/*padding-bottom: 15px;*/
	}
	.catalogModule .catalog_list .goods-list-mode-switcher .switch-layout{	
		display: block;
		height: 36px;
		width: 36px;
		margin: 0 0 0 5px;
		background: url("/images/list-mode-switcher.png") no-repeat scroll left top transparent;
		cursor: pointer;
		float: right;
	}
	.catalogModule .catalog_list .goods-list-mode-switcher .switch-layout.switch-list{
		background-position-x: -36px;
		background-position-y: 0;
	}
	.catalogModule .catalog_list .goods-list-mode-switcher .switch-layout.switch-list.active{
		background-position-x: -36px;
		background-position-y: -36px;
	}
	.catalogModule .catalog_list .goods-list-mode-switcher .switch-layout.switch-grid{
		background-position-x: 0;
		background-position-y: 0;
	}
	.catalogModule .catalog_list .goods-list-mode-switcher .switch-layout.switch-grid.active{
		background-position-x: 0;
		background-position-y: -36px;
	}
	.goods-list.goods-list-list{
		
	}
	.goods-list.goods-list-list .goods-element{
		width:100%;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper{
		float:left;
		width:100%;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .ishit{
		left:auto;
		right:-10px;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .ishit + .isnew{
		right:30px;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_thumb_link,
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_thumb,
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_title,
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_custom_properties,
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_price,
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_quantity,
	.goods-list.goods-list-list .goods-element .quadro-wrapper{
		height:auto !important;
		display:block;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_thumb{
		float:left;
		width:25%;
		padding-right:2%;
		margin-bottom:0;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_title{
		padding-top:0;
		margin-bottom:5px;
		text-align: left;
		font-size: 120%;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_custom_properties{
		float:left;
		width:40%;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_custom_properties *{
		margin-top:0;
		margin-bottom:0;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_basket_wrapper{
		float:left;
		padding-left:2%;
		width:35%;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_price,
	.goods-list.goods-list-list .goods-element .quadro-wrapper .add2basket{
		text-align: right;
	}
	/*
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_quantity,
	.goods-list.goods-list-list .goods-element .quadro-wrapper .add2basket{
		width:100%;
	}
	*/
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_price{
		padding-top:0;
	}
	.goods-list.goods-list-list .goods-element .quadro-wrapper .g_price .old_price{
		font-size: 100%;
	}
}
/***************************************************************************/