div.str_module{
	border: 1px solid #ddd;
}
div.str_module p.title{
	font-weight : bold;
}
div.str_module p{
	padding: 4px;
}
.cpanel .disabled-icon{
	opacity: 0.3;
	cursor: initial;
}
.cpanel .disabled-icon a{
	cursor: initial;
}