@CHARSET "UTF-8";
#feedbackSender input[type=text],
#feedbackSender textarea{
	width:100%;
}
div.fb_message {
	margin-bottom:15px;
}
#feedbackSender .row{
/*	margin-bottom:15px; */
}
#feedbackSender .row.row-label > [class*="col-"]{
	margin-bottom:5px;
}
div.fb_date {
	text-align: right;
}

div.fb_title {

}

div.fb_theme {
	font-weight: bold;
	padding-right: 15px;
}

div.fb_date2 {
	text-align: right;
}

div.fb_text {

}

div.contact_info {
	padding-bottom: 15px;
}

div.contact_info h3 {

}

div.contact_info h2 {

}

table.contact_info {
	width: 100%;
}

table.contact_info th,table.contact_info td {
	text-align: left;
}

table.contact_info th {
	width: 50%;
}