@CHARSET "UTF-8";
.forums{
	overflow-x:auto;
}

.forums>div{
	min-width: 450px;
}

table.themes {
	width: 100%;
}
#PostForm .row,
#ThemeForm .row{
	margin-bottom:15px;
}
#PostForm .row .row,
#ThemeForm .row .row{
	margin-bottom:0;
}
.themeRow input[type=checkbox]{
	display:inline;
	margin-left:5px;
	margin-right:15px;
}
.forums th.forum_title,table.themes th.forum_title {
	text-align: center;
	background: #3B78A8;
	color: #FFFFFF;
}

.forums th.theme_title,.forums th.sub_forum_title {
	font-size: 14px;
}

.forums th,.forums td {
	border: 1px solid #DCDCDC;
	padding: 5px;
}

.forums a.forum_title {
	color: #3B78A8;
	font-size: 15px;
}

.forums a.theme_title {
	color: #3B78A8;
	font-size: 13px;
}

div.forum_panel {
	padding: 4px 0;
}
div.forum_panel a.linkButton{
/*	min-width: auto;
	width: auto; */
}
div.forumPostAuthor a.linkButton,div.forum_panel a.linkButton {
	display: inline-block;
}

div.forumPostAuthor a.linkButton {
	margin: 4px 0 0 2px;
}

textarea#postText, input#postTitle, textarea#themeText, input#themeTitle, input#themeTags{
	width: 100%;
}

div.forumPostBody {
	padding: 10px;
}
div.forumPostBody h1{
	word-break: break-all;
	word-wrap: break-word;
}
div.forumPostAuthor>div{
	background: #FAFAFA;
}

div.forumPostAuthor p {
	text-align: center;
	padding: 2px;
	margin: 0;
}

div.forumPost {
	padding:10px;
	margin-bottom: 15px;
	border: 1px solid #DCDCDC;
}

div.forumPostBody h3.title {
	border-bottom: 1px solid #DCDCDC;
}
div.forumPostBody img {
	max-width: 100%;
	/*float:left;
	clear:left;
	*/
	margin:10px 0;
}
div#themeFooter,div#postFooter {
	text-align: center;
}

tr.disabledTheme td,div.disabledTheme,div.disabledPost {
	border: 1px solid #0000FF;
}

tr.deletedTheme td,div.deletedTheme,div.deletedPost {
	border: 1px solid #FF0000;
}

div.main_forum_panel {
	text-align: right;
	padding: 0 0 10px
}