@CHARSET "UTF-8";

.galleryModule .image-list{
	display: block;
	margin-bottom:15px;
}
div.gallerygroup a.gallery-title {
	color: #1D69EF;
	display: block;
	margin: 0;
	padding: 10px 0;
	text-align: left;
}
div.gallerygroup a.group-image{
	max-width: 100%;
	display:block;
}
div.gallerygroup a.group-image img{
	max-width: 100%;
	margin: 0 0 15px;
	padding: 0;
	height: auto;
}
div.gallerygroup a.group-image img.empty-img{
	background: url("/images/noimage.png") no-repeat scroll center center transparent;
}
div.gallerygroup table td.thumb {
	width: 100px;
}
div.gallerygroup table td.comment {
	text-align: left;
	padding: 0 0 0 15px;
	vertical-align: top;
}
div.gallery-image {
	text-align:center;
	margin-bottom: 15px;
}
.gallery-toolbar.row{
	margin-bottom:15px;
}
.group-comments.row{
	margin-bottom:0px;
}
.group-comments.row>[class*='col-']{
	margin-bottom:15px;
}
.toolbar-links{
	text-align:right;
}