@CHARSET "UTF-8";
.letterBlock{
	border:1px solid #CCCCCC;
	margin-bottom:15px;
	padding:10px;
}
.letterFullBlock{
	border:1px solid #CCCCCC;
	margin-bottom:15px;
	padding:10px;
}
#folderSelector{
	text-align:right;
	margin-bottom:15px;
}
.letterFooterLinks{
	text-align:right;
}
.letterProps{
	
}
.letterProp{
	margin-bottom:5px;
}
#mailFooter{
	text-align:center;
	margin: 10px 0;
}
#mailEditorHeader input{
	width:100%;
}
#mailEditorData{
	margin: 10px 0;
}
#mailEditorData textarea{
	width:100%;
}
#mailEditorHeader #recvUser{
	margin-bottom: 15px;
}