@CHARSET "UTF-8";
.site-map .col-sm-6:nth-child(odd){
	clear:left;
}
div.map_block {
	border: 1px solid #CCCCCC;
	border-radius: 8px 8px 8px 8px;
	padding: 10px;
	margin-bottom: 15px;
}
div.map_block .title {
	margin-bottom: 10px;
}
div.map_block>ul{
	padding-left:0;
}
div.map_block li{
	list-style: none;
	margin: 0px; 
}