@CHARSET "UTF-8";

div.userpanel {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
}

table.userpanel {
	border: 1px solid #CCCCCC;
	width: 100%;
}
.old_email{
	margin-bottom: 15px;
}
#usercontacts .row,
#userabout.row {
	margin-bottom: 15px;
}
.panel_icon a img{
	margin-right: 15px;
}
.add_info_text .data,
.add_info_text .row{
	margin-bottom: 15px;
}
.userAddress{
	width:360px;
	overflow: hidden;
}
.userAddress .row{
	margin-bottom: 10px;
}
.userAddress .row > div{
	margin-bottom: 0;
}
.userAddress .row input[type=text],
.userAddress .row select,
.userAddress .row text-area{
	width:100%;
}
.vcard h4.title{
	margin-bottom:25px;
}
.moduleBody.userModule .authorizeBlock,
.moduleBody.userModule .authorizeBlock_sn{
	max-width: 500px;
	margin: 0 auto;
	padding: 15px;
	background: #DEDEDE;
	border-radius: 10px;
}
.moduleBody.userModule .authorizeBlock_sn,
.moduleBody.userModule .authorizeBlock_sn{
	padding: 15px 15px 0;
}
@media (min-width:768px) {
	.userAddress{
		width:500px;
	}
}