@CHARSET "UTF-8";

div.videogallerygroup a.gallery-title {
	color: #1D69EF;
	display: block;
	margin: 0;
	padding: 10px 0;
	text-align: left;
}

div.videogallerygroup a.video-group-image,
div.videogallerygroup a.group-image{
	max-width: 100%;
	display:block;
}
div.videogallerygroup a.video-group-image img,
div.videogallerygroup a.group-image img{
	max-width: 100%;
	margin: 0 0 15px;
	padding: 0;
	height: auto;
}
div.videogallerygroup img.empty-img {
	background: url("/images/noimage.png") no-repeat scroll center center transparent;
}
div.video-gallery-image {
	margin: 0 10px 0;
	padding: 0;
	float: left;
}
div.video-gallery-video{
}
div.video-gallery-video:nth-child(odd){
	clear:left;
}
/*
div.video-gallery-video .videocontainer{
	min-height:150px;
}
*/
div.video-gallery-video p.video-title{
	text-align:center;
}
div.single-video{

}
h1.video-title{
	margin-bottom: 15px;
}
div.single-video-list{
	border: 1px solid #D2DCE3;
	border-radius: 8px;
	padding: 5px;
	max-height:300px;
	overflow-y: auto;  	
}
div.single-video-list h2.title{
	display: block;
	margin: 0;
	padding: 5px 5px 10px;
	text-align: center;
	font-weight: normal;	
}	
div.single-video-list div{
	margin:0;
	padding: 0 0 10px;
}
div.single-video-list h3 a{
	display: block;
	font-size: 12px;
	margin: 0;
	padding: 0 5px;
	text-align: left;
	text-decoration: underline;
	font-weight: normal;	
}
div.single-video-list div.video_elem:hover{
	background: #ececec;
}
div.single-video-list a.videos{
	padding: 5px;
	margin-bottom: 10px;
	display:block;	
}
div.single-video-list a.videos img{
	max-width:100%;
}
.video-gallery-toolbar{
	margin:0 0 15px;
}
.video-group-comments{
	margin:0 0 15px;
}
.videocontainer div:not([class]){
	position:initial;
}
/*
.video-js.vjs-fluid{
	height:auto;
}
.videocontainer div:not([class]){
	position:initial;
}
.video-js.vjs-fluid{
	height:auto;
}
.video-js.vjs-fluid:not([class~="vjs-youtube"]){
	padding: 0;
}
*/