@CHARSET "UTF-8";
div#ie6warning{
	clear:both !important;
	position:absolute !important;
	left:0px !important;
	top:0px !important;
	width:100% !important;
	height:2000px !important;
	display:block !important;
	z-index:99999 !important;
	background:none repeat scroll 0 0 #E1FAC8;
	text-align:left;
	margin:0 !important;
	padding:0 !important;
}
div#ie6warning a {
	text-decoration:underline !important;
	font-weight:bold !important;
}
