@CHARSET "UTF-8";
/* Container */
html {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	color: #333333;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	font-size: 0.8em;
}
body {
	font-size: 100%;
	line-height: 1.35em;
	font-style: normal;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	color: #333333;
}
form {
	margin: 0;
	padding: 0;
}
div{
	position:relative;
}
.container-fluid {
	padding-right: 5px;
	padding-left: 5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 5px;
	padding-left: 5px;
}
.row{
	margin-right: -5px;
	margin-left: -5px;
}
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner
	{ /* */
	border: none;
}
label, .label{
	font-size:100%;
	color:#000000;
	font-weight:normal;
	padding-left:0;
	display:inline-block;
	*display:inline;
	white-space:initial;
	text-align: left;
	padding: .5em 0;
	margin: 0;
}
input[type="checkbox"] {
	padding: 0;
	vertical-align: middle;
	outline: none;
}
img,body,html,label {
	border: 0px none;
	outline: medium none;
	vertical-align: middle;
}

img, a {
	border: 0px none;
	outline: medium none;
}

a, a:link, a:visited, a:active, a:focus {
	color: #000000;
	outline: medium none;
}
a.btn, a.btn:link, a.btn:visited, a.btn:active, a.btn:focus {
	color: #FFFFFF;
}
span.label_required,
span.label_unique {
	font-weight:bold;
	padding:0 2px;
	font-size:130%;
}
#panel {
	width:100%;
	margin: 0 0 10px 0;
}
/*
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:4px;
	border: 1px solid #CCCCCC;
}
select{
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	color: #555555;
	display: inline-block;
}
*/
/*************/
.ro_string{
	word-break: break-all;
}
fieldset {
	background: none;
	margin: 0 0 15px;
	padding:10px;
	border:1px solid #AAAAAA;
}
legend{
	font-size: 120%;
	font-weight: bold;
	width: auto;
	padding: 0 5px;
	margin: 0;
	border:0px none;
}
span.raquo{
	font-weight:600;
	padding:0 2px;
	color:#2D67A9;
}
img.date_selector {
	width: 30px;
	cursor: pointer;
	height: 30px;
	border: 0px none;
	outline: none;
	background: url("/administrator/templates/azbs5/images/calendar.png") no-repeat center center;
}
.verify_wrapper{
	padding-right:60px;
	width:100%;
}
.verify_wrapper label.verify_ok, 
.verify_wrapper label.verify_err, 
.verify_wrapper label.error {
	color: red;
	padding: 0 0 0 5px;
	width: 60px;
	display: block;
	text-align: center;
	position:absolute;
	line-height: 34px;
	top:0;
	right:0;
}
.verify_wrapper label.verify_ok {
	color: green;
}

/*System message*/
div#sys_msg {
	background: #666666;
	color: #FFFFFF;
	border: ridge #EFEFEF;
}
.topmenu_label {
	float: left;
	padding-left: 15px;
	font-size: 130%;
	font-weight: normal;
	line-height: 55px;
}
.width50 {
	width: 50%;
}

.width75 {
	width: 75%;
}

.width100 {
	width: 100%;
}

div.buttons_pan {
	width: 100%;
	padding: 10px;
	text-align: center;
}
.checkboxContainer {
	float: left;
	display: block;
	clear: left;
}
.checkboxContainer label, .checkboxContainer input[type=checkbox] {
	float: left;
}

div#outer_wrapper {
	margin: 0px auto;
	position: relative;
	text-align: left;
	width: 100%;
	display:block;
}

div#inner_wrapper {
	position: relative;
	width: 100%;
	padding: 0;
}
div#inner_wrapper .container-fluid{
	padding:0;
}
div.clear {
	height: 0;
	font-size: 1px;
	line-height: 0px;
	clear: both;
}
/****** Footer *******/
div#footer {
	height: 34px;
	line-height: 34px;
	text-align: center;
	width: 100%;
	background: #F5F5F5;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
div#footer a:link, div#footer_m a:visited {
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
div#footer a {
	color: #333333;
}
div#footer a:hover {
	color: darkGrey;
	text-decoration: underline;
}
div#footer_r{
	text-align:right;
}
.pagination{
	margin:0;
}
/**********************************/
.cpanel_conf .row{
	margin-bottom:15px;
}
/*
.cpanel_conf .row input[type=text],
.cpanel_conf .row input[type=password],
.cpanel_conf .row select,
.cpanel_conf .row textarea{
	width:100%;
}
*/
/****** Spravochnick ****/
div.sprav_tree_data {
	border: 1px solid #999999;
	padding: 5px;
	width: 100%;
}
table.sprav_tree_title {
	border:0px none;
}
.sprav-panel.collapsedPanel .tree-panel{
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-radius:0;
	height: 42px;
}
div.element {
	float: left;
	padding: 0 0 10px;
	width: 50%;
	white-space: nowrap;
}
div.elementid {
	float: left;
	width: 20%;
	overflow: hidden;
	padding-right: 1%;
}

div.elementtitle {
	float: left;
	width: 76%;
	overflow: hidden;
	padding-right: 3%;
}

div#prime {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}
.prime {
	-moz-opacity: 0.3;
	opacity: 0.3;
	-khtml-opacity: 0.3;
	filter: alpha(Opacity = 30);
	display: block;
	text-align: center;
	position: absolute;
	background-color: #233D4E;
	width: 100%;
	height: 100%;
	z-index: 202000;
}

div.topm_but {
	float: left;
	margin: 5px;
	padding: 2px 5px;
	/*background: #B5C5CE;*/
	cursor: pointer;
	color: #003E2D;
	font-weight: bolder;
}

div.butm,div.butmd {
	float: left;
	height: 50px;
	width: 120px;
	border: medium solid inactivecaptiontext;
	margin: 0 1%;
	text-align: center;
	vertical-align: middle;
}

div.butakt {
	background: url(/images/but_aktr.gif) no-repeat top left;
}

div.but1 {
	background: url(/images/but1.gif) no-repeat top right;
}

div.but2 {
	background: url(/images/but2.gif) no-repeat top right;
}

div.but3 {
	background: url(/images/but3.gif) no-repeat top right;
}

#loginForm {
	display: none;
}

div.commonPopup {
	display: none;
	position: fixed;
	background-color: #494949;
}
/*System message*/
div#systemMessage {
	width: 40%;
	top: 300px;
	left: 30%;
	z-index: 99999;
	padding: 7px;
	border: 2px solid #FEFEFE;
}

div#sysMsgText {
	font-size: 14px;
}

div#sysMsgButton {
	padding-top: 10px;
	text-align: right;
}

/* ------ ШАПКИ ОСНОВНЫХ ТАБЛИЦ СПРАВОЧНИКОВ ------ */
div.nmb {
	background: #DDDDDD;
	border: 1px solid #999999;
}

div.info {
	font-weight: bold;
	color: #FFF;
	width: 100%;
	padding: 10px;
	text-align: center;
}

div.nmb a {
	padding: 0;
	vertical-align: middle;
}

div.picto_left, div.picto_right {
	position: relative;
	margin: 3px;
	padding: 1px;
	text-align: center;
	font-weight: normal;
	cursor: pointer;
}

div.picto_left img,div.picto_right img {
	text-align: center;
}

div.picto_left:hover, div.picto_right:hover {
	border: 0px;
	background: #FFFFFF;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 3px;
	padding: 1px;
}
div.filter_selector div.picto_right{
	margin: 0 3px;
}
div.tree_collapse_left {
	background: url("/administrator/templates/azbs5/images/arrow_left.png") no-repeat right center
		transparent;
}

div.tree_collapse_right {
	background: url("/administrator/templates/azbs5/images/arrow_right.png") no-repeat right center
		transparent;
}

div.smalpct {
	position: relative;
	float: left;
	/* width: 48px;
	height: 48px; */
	margin: 1px;
	text-align: center;
	padding: 1px 1px 0;
	font-size: 10px;
	color: #777777;
	font-weight: normal;
}

div.pictogram,div.pictogramma {
	position: relative;
	width: 48px;
	height: 48px;
	margin: 3px 3px;
	text-align: center;
	padding: 2px 3px 0;
	font-size: 10px;
	color: #777777;
	font-weight: normal;
}

div.pictogram a,div.pictogramma a {
	font-size: 10px;
}

div.pictogram img,div.pictogramma img {
	width: 24px;
	height: 24px;
	text-align: center;
}

div.pictogram:hover,div.pictogramma:hover {
	border: 1px solid red;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 2px 2px;
}

div.nmb_small {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

#sprav_min_left,div.sprav_min_left {
	text-align: left;
	float: left;
	width: 24%;
}

#sprav_min_center,div.sprav_min_center {
	height: 22px;
	text-align: center;
	float: left;
	width: 50%;
	font-size: 14px;
	color: #333 !important;
}

#sprav_min_right,div.sprav_min_right {
	text-align: right;
	float: right;
	width: 24%;
}

p.small {
	font-size: 11px;
}

div.pictog,div.pictoga {
	position: relative;
	width: 21px;
	height: 21px;
	margin: 1px;
}

div.pictog img,div.pictoga img {
	width: 21px;
	height: 21px;
	text-align: center;
}

div.pictog:hover,div.pictoga:hover {
	border: 1px solid red;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
}

div.pictogramma,div.pictoga {
	float: left;
}

div.pictogram,div.pictog {
	float: right;
}

div.topheaderline {
	width: 100%;
	height: auto;
	text-align: center;
	padding: 8px 0;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 2px solid silver;
}

div.sprav_telo {
	position: relative;
	width: 100%;
}

div.sprav_telo_np {
	position: relative;
	width: 100%;
	min-height: 20px;
	height: auto;
	background: #EFEFEF;
	overflow-y: scroll;
}

div.sprav_top {
	position: relative;
	width: 100%;
	float: left;
	height: auto !important;
	height: 36px;
	border-top: 1px solid #999;
}

div.sprav_top a {
	font-size: 11px;
}

div.sprav_top img {
	width: 16px;
	height: 16px;
	float: right;
}

div.sprav_top table, div.sprav_top tr, div.sprav_top td, div.sprav_top th {
	border: none !important;
}
/* ------ КОНЕЦ ШАПОК ОСНОВНЫХ ТАБЛИЦ СПРАВОЧНИКОВ ------ */
.panel-logo {
	color: #0F0D6F;
	float: left;
	padding: 3px 10px;
	position: relative;
	text-align: center;
	min-height: 20px;
	text-transform:uppercase;
}
.panel-logo.visible-xs{
	padding: 3px 0;
}
.panel-logo p {
	display:block;
}

.panel-logo a {
	line-height:30px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform:none;
	text-decoration: none;
	font-size: 130%;
	font-weight: normal;
	margin: 0;
	text-shadow: 1px 1px 1px #000000;
	color: #FFFFFF;
}

div#panel_line {
	padding: 4px 0;
	margin: 0;
}
div#panel_line1{
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
div#footer,
div#panel_line,
div#panel_line1{
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #f5f5f5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #dddddd 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
div#panel_header {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	/*	padding:5px; */
}

div#panel_header p {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 6px 0 0;
	text-transform: uppercase;
}

div.panel_button_r {
	float: right;
	margin: 0 0 2px 4px;
	padding:2px;
}

div.panel_button_l {
	float: left;
	margin: 0 4px 2px 0;
	padding:2px;
}

div.panel_button_l:hover,
div.panel_button_r:hover {
	background: #CCCCCC;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.panel_button_r a img,div.panel_button_l a img {
	height: 32px;
	width: 32px;
}

div#panel_butt_exit a {
	background: url("/administrator/templates/azbs5/images/exit.png") no-repeat scroll center top  transparent;
	height: 32px;
	width: 32px;
	display: block;
}

div#panel_butt_help a {
	background: url("/administrator/templates/azbs5/images/help.png") no-repeat scroll center top transparent;
	height: 32px;
	width: 32px;
	display: block;
}

div#panel_butt_site a {
	background: url("/administrator/templates/azbs5/images/site.png") no-repeat scroll center top transparent;
	height: 32px;
	width: 32px;
	display: block;
}

div#panel_butt_license a {
	background: url("/administrator/templates/azbs5/images/license.png") no-repeat scroll center top transparent;
	height: 32px;
	width: 32px;
	display: block;
}

div#panel_butt_cpanel a {
	background: url("/administrator/templates/azbs5/images/cpanel.png") no-repeat scroll center top transparent;
	height: 32px;
	width: 32px;
	display: block;
}

div.moduleHeader div.moduleBreadcrumb {
	width: 100%;
	position: relative;
	background: url("/administrator/templates/azbs5/images/gray-top-bottom.gif") repeat scroll center top transparent;
	color: white;
	margin: 3px;
	vertical-align: middle;
}

div.moduleHeader div.moduleBreadcrumb a.breadcrumb {
	margin: 2px 4px;
	color: #000000;
	width: 100%;
	vertical-align: middle;
}

div.moduleHeader div.moduleBreadcrumb img {
	vertical-align: middle;
}
input.label_in_sprav,textarea.label_in_sprav {
	background: #EAEAEA;
	font-weight: normal;
	border: 0 none;
	width: 100%;
	box-shadow:none;
}

textarea.label_in_sprav {
	border: 1px dotted;
}
.info-data-formated{
	max-height:160px;
	overflow-y:auto;
	border: 1px dotted;
	margin-top:15px;
	padding:10px;
}
h3.title, h4.title {
	text-align: center;
	margin: 0 0 6px 0;
	padding: 7px 0;
	width: 100%;
	font-weight: normal;
	color: #2D67A9;
	font-size: 130%;
	text-transform:uppercase;
}
h3.title{
	font-size: 150%;
}
h5.message_error{
	text-align:center;
}
li.deleted>a {
	text-decoration: line-through;
}

ul#helpmenu {
	float: right;
	font-weight: bold;
}

ul#adminhome,ul#menuedit {
	font-weight: bold;
}

div.license p{
	text-align: justify;
}

p.lic_head {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

p.lic_cont {
	font-size: 1em;
	margin: 4px 0;
}

p.lic_sdvig {
	margin: 4px 0 4px 32px;
}

p.lic_top {
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px 0;
	text-align: center;
}

div.cpanel {
	color: #777777;
	cursor: pointer;
	height: 116px;
	margin-bottom:15px;
	text-align: center;
	line-height:1.1em;
}

div.cpanel a{
	color: #777777;
	display: block;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.cpanel a img {
	padding-bottom:4px;
}
div.cpanel a:focus,
div.cpanel a:hover{
	text-decoration: none;
}

div.cpanel:hover a,
div.cpanel_hover a:hover{
	color: #000000 !important;
}

div.cpanel:hover {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: none repeat scroll 0 0 #F5F5F5;
	color: #000000;
	cursor: pointer;
}

div.cpanel_ext {
	padding: 15px;
	background: none repeat scroll 0 0 #EAEAEA;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 15px #9C9C9C;
	margin-top: 10px;
	margin-bottom: 10px;
}

img.cpanel {
	border: 0 none;
	height: 64px;
	width: 64px;
}

div.cpanel_conf {
	padding-top: 10px;
	padding-bottom: 10px;
	background: none repeat scroll 0 0 #EAEAEA;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 15px #9C9C9C;
}

/* editor template */
div.modify-buttons {
	clear: both;
	padding: 15px 0 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
/************************/
/* WIDTH OVERRIDE */
div#listtarget {
	width: 720px;
}

h3.orders {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	background: url("/administrator/templates/azbs5/images/gray-top-bottom.gif") repeat scroll center
		top transparent;
}

table.orders {
	width: 100%;
}
/*
div.sprav_telo { /*	min-height: 50px;
	max-height: 400px; 

}

div.sprav_telo tbody {
	border-right: 0px none !important;
}
*/

/* COLORS OVERRIDE */
/* Standart list of spravochnick*/
div.sprav_telo table thead th div.order-up {
	cursor: pointer;
	background: url(/administrator/templates/azbs5/images/up_move.gif) no-repeat right center;
}

div.sprav_telo table thead th div.order-down {
	cursor: pointer;
	background: url(/administrator/templates/azbs5/images/down_move.gif) no-repeat right center;
}
td.choice_aa a {
	display: block;
}
td.choice_aa img,
td.choice_aa a img{
	display: block;
	margin: 0 auto;
}
td.choice_aa img.spr_image,
td.choice_aa img.spr_flash{
	margin: 0 auto;
	width:75px;
}
div.picto_left,div.picto_right {
	color: #777777;
}

div.picto_left:hover,div.picto_right:hover {
	border-color: gray;
}
/************************/
/* Standart two panel list of spravochnick*/
/************************/
div.tablBody400{
	margin: 10px auto;
	padding: 0px;
	width: 400px;
}
.rounded-pan{
	background: none repeat scroll 0 0 #EAEAEA;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 15px #9C9C9C;
	padding: 15px;
	position: relative;
	margin:0 auto;
}
table.file-selector {
	padding: 10px;
	margin:0 auto;
	width: 730px;
}
h4 span, h4 input {
	vertical-align: middle;
}
a.copyright {
	float: right;
	font-size: 10px;
	color: #888888;
}

table.rules {
	width: 100%;
}

table.rules td.buttons {
	padding: 10px 0 0 0;
}
div#accordion {
	display: block;
}

div#accordion h3 {
	margin: 0;
	padding: 5px 0 10px;
	font-size: 14px;
	display: block;
}

div#accordion h3 a {
	cursor: pointer;
	font-size: 14px;
	color: #000000;
}

div#accordion h3 a:hover {
	color: #888888;
}

div.add_info_text {
	margin: 0;
	display: block;
}

div.add_info_text div.data table {
	width: 100%;
}

div.add_info_text div.data table th,div.add_info_text div.data table td
	{
	width: 25%;
	padding: 2px 4px;
}

div.add_info_text div.data,div.add_info_text div.buttons {
	display: block;
	width: 100%;
}

div.add_info_text div.buttons {
	text-align: right;
	height: 25px;
	padding: 10px 3px 5px;
}

div.add_info_text div.buttons a {
	height: 14px;
	margin: 0 6px;
	float: right;
}

div.add_info_text div.data table {
	border-collapse: collapse;
	padding: 0;
}

div.add_info_text table.sprav th {
	width: 30px;
}

div.add_info_text table.sprav td.add_info_label {
	width: 150px;
}

a.editButton {
	display: block;
	width: 19px !important;
	height: 19px !important;
	background: url("/images/modify.gif") no-repeat left top transparent;
}

table.userAddress input[type="text"] {
	width: 350px;
}

table.userAddress select {
	width: 356px;
}

table.userAddress th {
	text-align: left;
}

table.userAddress th.buttons {
	text-align: center;
}

table.editMetaFields {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

table.editMetaFields tr:hover {
	background: #DEDEDE;
}

table.editMetaFields td,table.editMetaFields th {
	border: 1px solid #FFFFFF;
}

table.editMetaFields th {
	text-align: center;
	font-size:11px;
}
table.editMetaFields th a{
	color: #2D67A9;
	font-size:11px;
}

table.editMetaFields th.buttons {
	padding: 15px 0 5px;
	border: 0px none;
}

td.buttons,td.buttons p {
	text-align: center;
}

p.log_message span.log_error {
	color: red;
}

p.log_message span.log_ok {
	color: green;
}

p.log_message span.log_warning {
	color: darkBlue;
}

p.visible_all input {
	vertical-align: middle;
}

p.visible_all label {
	vertical-align: middle;
}

legend.bold {
	font-weight: bold;
}

select#widgetVisibility {
	width: 100%;
}

select#widgetVisibility optgroup {
	background: #E0E8EF;
	color: #000000;
	font-size: 12px;
	font-style: normal;
}
select#widgetVisibility optgroup option {
	color: #000000;
	background: #FFFFFF;
}
#widgetVisibility .optgroup {
	font-size: 12px;
	font-style: normal;
	font-weight:bold;
}
#widgetVisibility .option_5 {
	padding:0 0 0 80px;
}
#widgetVisibility .option_4 {
	padding:0 0 0 60px;
}
#widgetVisibility .option_3 {
	padding:0 0 0 40px;
}
#widgetVisibility .option_2 {
	padding:0 0 0 20px;
}

div.single-feedback {
	width: 400px;
}

#modify-wrapper .multyselector p {
	margin: 6px 0;
}
div.multyselector label,
div.multyselector label.label{
	vertical-align: top;
	line-height:1.3em;
	padding: 0;
}
div.multyselector img.delete-but {
	height: 16px;
	width: 16px;
	cursor: pointer;
	background: url("/administrator/templates/azbs5/images/krest2.png") no-repeat left top transparent;
	vertical-align: top;
	margin-right: 10px;
}

div.multyselector img.delete-but:hover {
	background: url("/administrator/templates/azbs5/images/krest2w.png") no-repeat left top transparent;
}

#modify-wrapper .multyselector p.add-but {
	text-align: right;
	margin-bottom: 12px;
}

div.multyselector p a {
	line-height: 1.3em;
	text-decoration: none;
	vertical-align: top;
}

div.multyselector img.add-but {
	height: 16px;
	width: 16px;
	cursor: pointer;
	background: url("/administrator/templates/azbs5/images/plus.png") no-repeat left top transparent;
	vertical-align: top;
	margin-left: 5px;
}

.sprav-selector .selector img {
	/*
	height: 16px;
	width: 16px;
	cursor: pointer;
	background: url("/administrator/templates/azbs5/images/plus.png") no-repeat center center transparent;
	vertical-align: middle;
	margin-left: 5px;
	*/
}
.sprav-selector .selector.selected img{

}
p.newline {
	background: #FFCFCF;
}

p.log_message span.log_error {
	color: red;
}

p.log_message span.log_ok {
	color: green;
}

p.log_message span.log_warning {
	color: darkBlue;
}

p.log_error {
	color: red;
}

p.log_message {
	color: green;
}

p.log_warning {
	color: darkBlue;
}

.underline {
	border-bottom: 1px dotted;
}

.choice_ss {
	cursor: pointer;
}

table.editMetaFields th input[type="text"] {
	width: auto !important;
}

td.ordering div.inner-grid {
	max-width: 40px;
	/*  min-width: 30px; */
}
.addressselector{
	min-height:32px;
}
img.addressbutton {
	cursor: pointer;
	margin: 0 5px 0 0;
	width: 32px;
	height: 32px;
	background: url("/administrator/templates/azbs5/images/buttons/modify.png") no-repeat 0 0 transparent;
}

table.panelAddress {
	width: 500px;
}

table.panelAddress th {
	text-align: left;
}

table.panelAddress input[type=text] {
	width: 350px;
}

table.panelAddress select {
	width: 355px;
}

th.warning,td.warning {
	font-weight: bold;
	color: #0000FF;
}

th.error,td.error {
	font-weight: bold;
	color: #FF0000;
}

#import_log {
	height: 500px;
	overflow-y: scroll;
}
#modify-wrapper .multyselector input.quantity {
	float: right;
	font-size: 10px;
	height: 24px;
	line-height: 10px;
	text-align: right;
	width: 50px;
	padding: 3px;
}
img.file_selector{ width: 26px; height: 26px; background: url("/images/filemanager26.png") no-repeat left top transparent; vertical-align:top; margin:0 0 0 5px;}
#scrollToTop {
	cursor: pointer;
	font-size: 0.9em;
	position: fixed;
	text-align: center;
	z-index: 9999;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background: #444444;
	color: #FFFFFF;
	border-radius: 3px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	right: 10px;
	bottom: 10px;
}
#scrollToTop:hover{
	color:#CCCCCC !important;
}
.ui-state-focus a:hover {
	color:#000000;
}

.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
div#ui-datepicker-div {
/*
	z-index: 12345 !important;
	display: none;
*/
}
.ui-corner-all {
    border-radius: 4px;
}
.ui-widget-content {
	color: #222222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-datepicker {
    padding: 0.2em 0.2em 0;
    width: 17em;
}
div.delete-file label,
div.delete-image label {
	line-height: 24px;
	margin: 0 0 0 5px;
	font-weight: bold;
	text-decoration: underline;
	color: #FF0000;
}

div.separator_left, div.separator_right{
	height:32px;
}
/*******************************/
h3.panel_title{
	text-align:center;
}
/*******************************/
img.sprav-button{background: url("/administrator/templates/azbs5/images/buttons/default.png") no-repeat 0 0 transparent;}
#collapse_button img{background: url("/administrator/templates/azbs5/images/buttons/sprav_tree.png") no-repeat 0 0 transparent;}
#toggle_sprav_tree img.sprav-button{background: url("/administrator/templates/azbs5/images/buttons/sprav_tree.png") no-repeat 0 0 transparent;}
img.sprav-button-go_up{background: url("/administrator/templates/azbs5/images/buttons/go_up.png") no-repeat 0 0 transparent;}
img.sprav-button-new{background: url("/administrator/templates/azbs5/images/buttons/new.png") no-repeat 0 0 transparent;}
img.sprav-button-clone{background: url("/administrator/templates/azbs5/images/buttons/clone.png") no-repeat 0 0 transparent;}
img.sprav-button-modify{background: url("/administrator/templates/azbs5/images/buttons/modify.png") no-repeat 0 0 transparent;}
img.sprav-button-print{background: url("/administrator/templates/azbs5/images/buttons/print.png") no-repeat 0 0 transparent;}
img.sprav-button-filter{background: url("/administrator/templates/azbs5/images/buttons/filter.png") no-repeat 0 0 transparent;}
img.sprav-button-modify_links{background: url("/administrator/templates/azbs5/images/buttons/modify_links.png") no-repeat 0 0 transparent;}
img.sprav-button-reorder{background: url("/administrator/templates/azbs5/images/buttons/reorder.png") no-repeat 0 0 transparent;}
img.sprav-button-delete{background: url("/administrator/templates/azbs5/images/buttons/delete.png") no-repeat 0 0 transparent;}
img.sprav-button-trash{background: url("/administrator/templates/azbs5/images/buttons/trash.png") no-repeat 0 0 transparent;}
img.sprav-button-list{background: url("/administrator/templates/azbs5/images/buttons/list.png") no-repeat 0 0 transparent;}
img.sprav-button-undelete{background: url("/administrator/templates/azbs5/images/buttons/undelete.png") no-repeat 0 0 transparent;}
img.sprav-button-clean_trash{background: url("/administrator/templates/azbs5/images/buttons/clean_trash.png") no-repeat 0 0 transparent;}
img.sprav-button-home{background: url("/administrator/templates/azbs5/images/buttons/home.png") no-repeat 0 0 transparent;}
/* uni buttons */
img.sprav-button-list_cats{background: url("/administrator/templates/azbs5/images/buttons/list_cats.png") no-repeat 0 0 transparent;}
img.sprav-button-list_types{background: url("/administrator/templates/azbs5/images/buttons/list_types.png") no-repeat 0 0 transparent;}
img.sprav-button-list_images{background: url("/administrator/templates/azbs5/images/buttons/list_images.png") no-repeat 0 0 transparent;}
img.sprav-button-list_videos{background: url("/administrator/templates/azbs5/images/buttons/list_videos.png") no-repeat 0 0 transparent;}
img.sprav-button-filter_goods{background: url("/administrator/templates/azbs5/images/buttons/filter_goods.png") no-repeat 0 0 transparent;}
img.sprav-button-list_goods{background: url("/administrator/templates/azbs5/images/buttons/list_goods.png") no-repeat 0 0 transparent;}
img.sprav-button-list_fields{background: url("/administrator/templates/azbs5/images/buttons/list_fields.png") no-repeat 0 0 transparent;}
img.sprav-button-change_date{background: url("/administrator/templates/azbs5/images/buttons/change_date.png") no-repeat 0 0 transparent;}
img.sprav-button-blogs{background: url("/administrator/templates/azbs5/images/buttons/blogs.png") no-repeat 0 0 transparent;}
img.sprav-button-rights{background: url("/administrator/templates/azbs5/images/buttons/rights.png") no-repeat 0 0 transparent;}
img.sprav-button-vcard{background: url("/administrator/templates/azbs5/images/buttons/vcard.png") no-repeat 0 0 transparent;}
img.sprav-button-list_options{background: url("/administrator/templates/azbs5/images/buttons/options.png") no-repeat 0 0 transparent;}
/*******************************/
input[type="button"].clrfile {
	background: url(/administrator/templates/azbs5/images/clearfile.png) no-repeat scroll center center	transparent;
	height: 30px;
	width: 30px;
	cursor: pointer;
	display:block;
	position: absolute;
	right:0;
	top:0;
	margin: 0 0 0 0;
	border:0px none;
	padding: 0;
}
#modify-wrapper .fileselector>div{
	padding-right:28px;
}
#modify-wrapper .fileselector>div>div{
	position:absolute !important;
	right:0;
	top:0;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color:#F5F5F5;
}
@media (max-width: 480px) {
	div#footer {
		text-align:center;
		padding:5px 0;
		height: auto;
		line-height: inherit;
	}
	div#footer_r{
		text-align:center;
	}
}
.fileselector .NFI-button{
	height:34px;
	line-height:34px;
}
/************ Dropdown multi-level ********************/
.dropdown-submenu {
	position: relative;
}
@media (max-width:767px) {
	#admin_top_menu{
		border-top: 1px solid #AAAAAA;
	}
	.dropdown-submenu>a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-top-color: #000000;
		margin-top: 5px;
		margin-right: -10px;
	}
}
@media (min-width:768px) {
	.dropdown-submenu>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}
	.dropdown-submenu.open>.dropdown-menu {
		display: block;
	}
	.dropdown-submenu>a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #CCCCCC;
		margin-top: 5px;
		margin-right: -10px;
	}
	.dropdown-submenu.open>a:after {
		border-left-color: #FFFFFF;
	}
}
ul>li.disabled,
ul>li.disabled a,
ul>li.disabled label{
	color:#999999;
}
.checkboxContainer label:last-child{
	padding-left:5px
}
.fancybox-content .addressPanel{
	width:360px;
	overflow: hidden;
	padding:10px;
}
.fancybox-content .addressPanel .row{
	margin-bottom: 10px;
}
.addressPanel .row input[type=text],
.addressPanel .row select,
.addressPanel .row text-area{
	width:100%;
}
#fancybox-content .filter{
	padding-top:15px;
	padding-bottom:5px;
}
/********** FIXING PANEL AT TOP OF WINDOW **********/
#inner_wrapper .sprav-list .nmb{
	min-width: 100%;
	z-index: 100;
	position: static;
}
#inner_wrapper .sprav-list .sprav_fixed{ 
	position: fixed; 
	left:0;
	z-index:2000;
}
#inner_wrapper .sprav-list div.picto_left, 
#inner_wrapper .sprav-list div.picto_right {
    margin-bottom: 5px!important;
}
.modify-wrapper-block .modify-wrapper label{
	display:block;
	cursor:pointer;
}
#modify-wrapper .modify-wrapper-block .modify-wrapper.row [class*="col-"].modify-label{
	margin-top:3px;
	margin-bottom:3px;
}
.modify-wrapper-block .modify-wrapper:hover{
	background:#FAFAFA;
}
.modify-wrapper-block .clickable{
	cursor:pointer;
}
.modify-wrapper-block-opened{
	
}
.modify-wrapper-block-closed{
	
}
.modify-wrapper-block-opened legend{
	padding-right:25px;
	background:url(../images/down_move.gif) no-repeat right 5px center;
}
.modify-wrapper-block-closed legend{
	padding-right:25px;
	background:url(../images/up_move.gif) no-repeat right 5px center;
}
.modify-wrapper-block-opened .modify-wrapper{
	display:block;
}
.modify-wrapper-block-closed .modify-wrapper{
	display:none;
}
.modify-wrapper .params label::first-letter {
	text-transform: uppercase;
}
.collapsed-fieldset{
	
}
.collapsible-fieldset .visibility-wrapper{
	margin-top:10px;
	display: block;
}
.collapsible-fieldset.collapsed-fieldset .visibility-wrapper{
	display:none;
}
.collapsible-fieldset legend{
	cursor:pointer;
}
.collapsible-fieldset legend i{
	margin-left:10px;
}
.collapsible-fieldset i.i-arrow-down{
	display:none;
}
.collapsible-fieldset i.i-arrow-up{
	display:inline-block;
}
.collapsible-fieldset.collapsed-fieldset i.i-arrow-down{
	display:inline-block;
}
.collapsible-fieldset.collapsed-fieldset i.i-arrow-up{
	display:none;
}
