@CHARSET "UTF-8";

html {
	width				: 100%;
	height			: 100%;
	background	: #FFFFFF url(about:blank);
	margin			: 0;
	padding			: 0;
}

body {
	color					:	#666666;
	font-family		: Tahoma, Arial;
	font-style		: normal;
	font-size		:	11px;
	line-height		: 1.4;
	margin			: 0;
	padding			: 0;
}
img{
	outline	: none;
	border	: 0 none;
	vertical-align:middle;
}
:focus { 
	outline: none; 
} 
button::-moz-focus-inner, 
	input[type="reset"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner, 
	input[type="submit"]::-moz-focus-inner, 
	input[type="submit"]::-moz-focus-inner, 
	input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
	border: none; 
}
a img {border: none;}
a, a:link, a:visited, a:active {
	outline: none;
	color				:	#666666;
	text-decoration: none;
}

a:hover {
	color				:	#006600;
}
table {
	border-collapse	:collapse;
	border					:0px none;
	margin					: 0 auto;
	padding					: 0;
	width				: 100%;
	text-align: left;
}
td {
	border-collapse:collapse;
	border:0px none;
	padding:0 2px;
	margin:0;
}
input, select {
	font-size		:	11px;
	vertical-align:middle;
}
img.date_selector {
	cursor: pointer;
}
div.print_outer {
	width:750px;
	margin: 0 auto;
}
table.orders th,
table.orders td{
	border: 1px solid;
}
table.orders td.total ,
table.orders td.taxes ,
table.orders td.discounts ,
table.orders td.payments ,
table.orders td.deliveries ,
table.orders td.subtotal ,
table.orders td.cur_price,
table.orders td.cur_quantity,
table.orders td.cur_sum {
	text-align:right;
}
table.price_list{

}
table.price_list th,
table.price_list td{
	border:1px solid #000000;
}
table.price_list th{
	text-align:center;
	background:#8F8F8F; 
	color:#FFFFFF;
}
table.price_list td.price_group_0,
table.price_list td.price_group_1,
table.price_list td.price_group_2,
table.price_list td.price_group_3,
table.price_list td.price_group_4,
table.price_list td.price_group_5{
	font-weight:bold;
	color:#000000;
	padding:2px 5px;
}
table.price_list td.price_group_0{background:#999999; color:#FFFFFF;}
table.price_list td.price_group_1{background:#AAAAAA; color:#FFFFFF;}
table.price_list td.price_group_2{background:#BBBBBB; color:#000000;}
table.price_list td.price_group_3{background:#CCCCCC; color:#000000;}
table.price_list td.price_group_4{background:#DDDDDD; color:#000000;}
table.price_list td.price_group_5{background:#EEEEEE; color:#000000;}