@CHARSET "UTF-8";
html { 
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	border: 0px none;
	font-size: 14px;
	line-height: 1.42857143;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	width: 100%; 
	min-height: 100%;
	height: 100%;
	color: #000000;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: inherit; 
	line-height: inherit;
	font-family: inherit;
}
body.overlaid{
	overflow: hidden;
}
h1, .h1, h2, .h2, h3, .h3{
	margin-top:0;
}
h1, .h1 {
	font-size: 160%;
	line-height: 160%;
}
h2, .h2 {
	font-size: 150%;
	line-height: 150%;
}
h3, .h3 {
	font-size: 140%;
	line-height: 140%;
}
h4, .h4 {
	font-size: 130%;
	line-height: 130%;
}
h5, .h5 {
	font-size: 120%;
	line-height: 120%;
}
h6, .h6 {
	font-size: 110%;
	line-height: 110%;
}
fieldset {
	background: none;
	margin: 0 0 15px;
	padding:10px;
	border:1px solid #AAAAAA;
}
legend{
	font-size: 120%;
	font-weight: bold;
	width: auto;
	padding: 0 5px;
	margin: 0;
	border:0px none;
}
img{
	max-width:100%;
}
a, a:link, a:visited{

}
a:hover, a:active, a:focus{

}
#BARMAZ-loading {
	width: 40px;
	height: 40px;
	padding: 0;
	border: 0px none;
	background: url("/images/ajax-loader-2.gif") no-repeat 0 0 #000000
}
#BARMAZ-loading #loading-text{
	display:none;
}
#outer_wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto; 
	min-height: 100%;
	border: 0px none;
	text-align:left;
}
#inner_wrapper {
	padding: 0;
	display:block;
	width: 100%;
	margin: 0;
}
#bufer_wrapper{
	height:61px;
	width:100%;
}
.center_block { }
#left_column { }
#right_column { }
#wrapper { }
.nopad { }
#site_header{
	background:#707070;
}
#sitetitle{
	color:#FFFFFF;
}
#sitetitle{
	font-size: 150%;
	line-height: 150%;
	margin:20px 0 0;
	text-align: right;
}
.logo a{
	display: inline-block;
}
.logo a img{	
	width:auto; 
}
#sitelogo{
	padding-top:15px;
	padding-bottom:15px;
}
#footer_wrapper{
	margin: -61px 0 0;
	overflow: hidden;
	background:#707070;
	padding-top:0;
	padding-bottom:0;
	height:61px;
}
#footer_wrapper .footer-wrapper-inner{
	padding-top:15px;
}
#footer_wrapper .footer-block{
	margin-bottom:15px;
}

#footer_wrapper.autoheight{
	height:auto;
}
#footer_wrapper *{
	color:#FFFFFF;
}
#footer_wrapper .copyright{
	font-size: 80%;
	padding-top:15px;
}
#footer_wrapper .counters{
	text-align: center;
	line-height:31px;
}
.wzone > div{
	margin-bottom:20px;
}
.wzone .tmpl-default > div,
.wzone .tmpl-rounded_4 > div,
.wzone .tmpl-rounded_6 > div,
.wzone .tmpl-col_2 > div{
	padding:15px;
	background:#ecf0f4;
	border:1px solid #b6c6d6;
}
.wTitle{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size:130%;
	font-weight: 500;
	line-height: 140%;
}
.pagination{
	margin:0;
}
.w_breadcrumb{
	padding:0;
	margin:0 0 15px;
	background:transparent;
}
.w_breadcrumb .breadcrumb{
	margin:0;
}
.breadcrumb .separator{
	display:none;
}
.items_1 .itms a img, 
.items_2 .itms a img{
	width:100%;
}
.bbcode_editor_bar ul li a{
	margin:0;
}
.unpublished{
	border: 1px solid #FF0000;
}
.single_comment.deleted{
	background: #7F7F7F;
}
.form_msg{
	color:#337AB7;
	font-size:1.5em;
}
div.subcomments,
div.subcomments_visible{
	display:block;
/*	float: left; */
	margin: 0 0 0 3%;
	width: 97%;
}
div.subcomments{
	display:none;
}
div#newCommentForm img.clearAnswerTo{
	width:16px;
	height:16px;
	background: url("/templates/html5/images/metla.png") no-repeat left top;
	vertical-align:middle;
	margin: 0 5px 0 0;
	cursor:pointer;
}
div#newCommentForm img.clearAnswerTo:hover{
	background-position:0 -16px;
}
div.vote_panel a.vote_up img,
div.vote_panel a.vote_down img{
	background: url("/templates/html5/images/vote_sprite.png") no-repeat scroll 0px -16px transparent;
}
div.vote_panel a.vote_up img{
	background-position:-16px -16px;
}
.label{
	color:inherit;
	font-size:90%;
	line-height:1.6em;
	padding-left:0;
	display:inline-block;
	*display:inline;
	white-space:initial;
	text-align: left;
}
img.date_selector{ 
	width: 34px;
	height: 34px;
	cursor:pointer;
	border: 0px none;
	outline: none;
	background: url("/templates/html5/images/cal32.png") no-repeat center center; 
}
.fancybox-content .filter{
	padding-top: 10px;
	padding-bottom: 5px;
}
div.filter .buttons input {
	margin-right: 15px;
	margin-bottom: 5px;
}
form .row > [class*='col-']{
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	form .row > [class*='col-sm-']:first-child{
		margin-bottom: 0;
	}
	form .row > [class*='col-sm-']:first-child .label{
		padding: 0;
	}
}
form .row > [class*="col-"].modify-label {
	margin-bottom: 5px;
}
div.filter .singleRow.row{
	margin-bottom:10px;
}
.submit_selector .fake_label{
	margin: 0 0 5px;
	display: inline-block;
}
div.filter .singleRow.row .row{
	margin-bottom:0px;
}
.wrapper-filter-datetime{
	padding:0 30px 0 40px;
}
.wrapper-filter-datetime .eq.singleSelect,
.wrapper-filter-datetime .date_selector{
	margin: 0;
	position:absolute;
	top:0;
	right:0;
	float:none;
	z-index:9999;
}
.wrapper-filter-datetime .eq.singleSelect{
	right:auto;
	left:0;
	width:38px;
}
div.filter .fake_label{
	line-height:26px;
}
input[type="button"].clrfile {	
	background: url("/templates/html5/images/clearfile.png") no-repeat scroll center center	transparent;
	height: 30px;
	width: 30px;
	cursor: pointer;
	display:block;
	position: absolute;
	right:0;
	top:0;
	margin: 0 0 0 0;
	border:0px none;
	padding: 0;
}
#modify-wrapper .fileselector>div{
	padding-right:28px;
}
#modify-wrapper .fileselector>div>div{
	position:absolute !important;
	right:0;
	top:0;
}
.container .container{
	width:100%;
}
/*********** INPUTS START **********/
.fileselector{
	padding-right: 30px;
}
.fileselector .NFI-wrapper{
	padding:0;
	margin:0;
	width:100%;
}
.fileselector .NFI-button {
	-moz-border-radius-topright: 3px; 
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px; 
	border-bottom-right-radius: 3px;
	background-color: #4F8EC3;
	background-image: linear-gradient(bottom, #1774A3 0%, #4F8EC3 56%);
	background-image: -o-linear-gradient(bottom, #1774A3 0%, #4F8EC3 56%);
	background-image: -moz-linear-gradient(bottom, #1774A3 0%, #4F8EC3 56%);
	background-image: -webkit-linear-gradient(bottom, #1774A3 0%, #4F8EC3 56%);
	background-image: -ms-linear-gradient(bottom, #1774A3 0%, #4F8EC3 56%);
	background-image: -webkit-gradient(	linear, left bottom, left top, color-stop(0, #1774A3), color-stop(0.56, #4F8EC3));
	text-shadow: 0px -1px 0px #0172bd;
	border: solid #0172bd 1px;
	border-bottom: solid #00428d 1px;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,.2); 	
	color: #fff;
	width: 28px;
	height: 34px;
	line-height: 34px;
	position: absolute !important;
	right: 0;
	top: 0;
}
.fileselector .NFI-button,
.fileselector .NFI-wrapper .form-control{
	max-height:32px;
}
.fileselector .NFI-button:hover {
	background: #333;
	text-shadow: 0px -1px 0px #111;
	border: solid #000 1px;
}
.fileselector input[type="text"].NFI-filename {
	min-width: 50px;
	border-right: none;
	height: 34px;
	line-height: 34px;
	-moz-border-radius-topright: 0px; 
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"], 
.radio-inline input[type="radio"]{ 
	top: 6px;
	margin: 0px;
	cursor:pointer;
}
input[type="checkbox"],
.options label{
	cursor:pointer;
}
.selector_pane .radio input[type="radio"] {
	margin-left: 0;	
}
/*********** INPUTS STOP ***********/
.moduleBody.catalogModule > .content > .container{
	padding:0;
	width:100%;
}
#info-wrapper h4.title {
	margin: 0 0 15px 0;
	width: 100%;
	font-weight: normal;
	font-size: 130%;
	text-transform:uppercase;
}
#info-wrapper.manufacturer-wrapper h4.title,
#info-wrapper.vendor-wrapper h4.title{
	display:none;
}
.share-panel{
	float: none;
	z-index: 999;
	width:100%;
	display:block;
	padding-bottom:5px;
	text-align: right;
}
.ya-share2__list_direction_horizontal > .ya-share2__item{
	margin: 0 4px 4px 0 !important;
}
#left_column .wzone > div:nth-child(2n+1),
#right_column .wzone > div:nth-child(2n+1){
	clear: both; 
}
.linkButton {
	white-space: normal;
}
.moduleShortcuts{
	margin-bottom:10px;
}
@media (max-width: 480px) {
	.btn{
		max-width:100%;
		white-space: initial;
	}
}
@media (max-width: 767px) {
	#sitetitle{
		margin-top:0;
		margin-bottom:15px;
		text-align:center;
	}
	.share-panel{
		text-align: left;
	}
}
/*********** GUTTERS CODE START ***********/
.no-gutter.row,
.no-gutter.inherit-gutter.row .row {
	margin-right:0;
	margin-left:0;
}
.no-gutter.row > [class*='col-'],
.no-gutter.inherit-gutter.row .row > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}
.mini-gutter.row,
.mini-gutter.inherit-gutter.row .row{
	margin-right:-5px;
	margin-left:-5px;
}
.mini-gutter.row > [class*='col-'],
.mini-gutter.inherit-gutter.row .row > [class*='col-'] {
	padding-right:5px;
	padding-left:5px;
}
.midi-gutter.row,
.midi-gutter.inherit-gutter.row .row{
	margin-right:-10px;
	margin-left:-10px;
}
.midi-gutter.row > [class*='col-'],
.midi-gutter.inherit-gutter.row .row > [class*='col-'] {
	padding-right:10px;
	padding-left:10px;
}
/*********** GUTTERS CODE STOP ************/

/*******  AUTOHEIGHT FOR CELLS IN ROWS START *******/
.row.row-cells-autoheight > [class*="col-"] > .row-cell-wrapper {
	display: table;
	width:100%;
}
.row.row-cells-autoheight > [class*="col-"] > .row-cell-wrapper > .row-cell-wrapper-inner {
	float: none;
	display: table-cell;
	vertical-align: middle;
	width:100%;
}
/******* AUTOHEIGHT FOR CELLS IN ROWS STOP *******/

/******************************************************/
/**************** LOCAL DEFAULT STYLES ****************/
/******************************************************/
.container {
	width: auto;
	max-width: 1440px;
}
.maintopmenu {	
	background-color: #ecf0f4;
	background-image: linear-gradient(to bottom, #fff 0px, #ecf0f4 100%);
	background-repeat: repeat-x;
	border-radius: 0;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
	border: 1px solid #D1D1D1;
	margin-bottom: 20px;
}
.site_policy_block,
.privacy_policy_block {
	text-align:center;
}
.verify_wrapper{
	padding-right:60px;
	width:100%;
}
.verify_wrapper label.verify_ok, 
.verify_wrapper label.verify_err, 
.verify_wrapper label.error {
	color: red;
	padding: 0 0 0 5px;
	width: 60px;
	display: block;
	text-align: center;
	position:absolute;
	line-height: 34px;
	top:0;
	right:0;
}
.verify_wrapper label.verify_ok {
	color: green;
}
h1.title, h2.title, h3.title, h4.title, h5.title, div.title {
	margin-bottom:20px;
}
.w_randarticle .a_title a {
	line-height: 1.2em;
	padding-bottom: 6px;
}
.video-js .vjs-big-play-button{
	left:50%;
	top:50%;
	margin-left:-1.5em;
	margin-top:-0.75em;
}
/*
.fancybox-content .addressPanel{
	width:360px;
	overflow: hidden;
}
#fancybox-content .addressPanel{
	padding:10px;
}
.addressPanel .row{
	margin-bottom: 5px;
}
*/
.addressPanel .row input[type=text],
.addressPanel .row select,
.addressPanel .row text-area{
	width:100%;
}
@media (max-width: 991px) {
	.footer-block.footer-block-2{
		border-right:0px none;
	}
	.footer-block.footer-block-3{
		clear:left;
	}
	#bufer_wrapper{
		height: 92px;
	}
	#footer_wrapper {
		margin-top: -92px;
		height: 92px;
	}	
}
@media (min-width: 768px) {
	.footer-block{
		border-right:1px solid #FFFFFF;
	}
	.footer-block:last-child{
		border-right:0px none;
	}
}
@media (max-width: 767px) {
	#topmenu{
		padding:0;
	}
	#bufer_wrapper{
		height: 130px;
	}
	#footer_wrapper {
		margin-top: -130px;
		height: 130px;
	}
	#site_header .logo,
	#footer_wrapper .logo{
		text-align:center;
	}
	#footer_wrapper .copyright{
		padding-top:12px;
		text-align:center;
	}
	.footer-block{
		border-right:0px none;
	}
	.footer-block .footer-block-inner{
		padding-bottom: 15px;
		border-bottom: 1px solid;
	}	
	.footer-block:last-child .footer-block-inner{
		border-bottom:0px none;
		padding-bottom: 0;
	}
}
/************** SCROLL BUTTONS START ****************/
a#go_top,
a#go_bottom{
	position: fixed;
	bottom: 60px;
	right: 10px;
	cursor:pointer;
	display:none;
	border : none;
	width:40px;
	height:40px;
	background:url("/templates/html5/images/go.png") no-repeat 0 0 transparent;
	z-index: 1000;
}
a#go_bottom{
	bottom: 14px;
	background-position:0 -40px;
}
a#go_top:hover{
	background-position: -40px 0;
}
a#go_bottom:hover{
	background-position: -40px -40px;
}
/************** SCROLL BUTTONS STOP *****************/

/************* NAV START *************/
.nav a{
	margin-bottom: 1px;
}
.nav .open > a, 
.nav > li.active > a{
	text-decoration: none;
	background-color: #E2E2E2;
	color:#333333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.nav .open > a:hover, 
.nav .open > a:focus, 
.nav li > a:focus, 
.nav li > a:hover,
.nav > li.active > a:focus,
.nav > li.active > a:hover {
	text-decoration: none;
	background-color: #CCCCCC;
	color:#000000;
}
/************* NAV STOP *************/

/************* NAVBARS START *************/
.navbar {
	min-height: auto;
	/* margin-bottom: 20px; */
}
.navbar-nav {
	float: none;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
.navbar-nav > li {
	display: inline-block;
	float: none;
}
.navbar-nav > li > a {
	/*line-height: 100%;*/
}
.navbar-nav li a span.mnu_title{
	text-transform:uppercase;
}
.navbar-nav li ul li a span.mnu_title{
	text-transform:none;
}
.navbar-default {
	background:transparent;
	border:0px none;
	-webkit-box-shadow: none;
			box-shadow: none;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-header .topmenu_label{
	float: left;
	padding-left: 15px;
	font-size: 130%;
	font-weight: normal;
	line-height: 55px;
	color: #000000;
	text-shadow: none;
}
.navbar-collapse .close{
	display:none;
}
@media (max-width: 767px) {
	.navbar-header,
	.navbar-collapse{
		margin:0 -15px;
	}
	.navbar-header button{
		line-height:80%;
	}
	.navbar-header .btn{
		border:1px solid;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}
	.navbar-header .btn:hover,
	.navbar-header .btn:focus{
		background-color: #DDDDDD;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	}
	.navbar-header .btn:active, 
	.navbar-header .btn.active{
		box-shadow:none;
	}
	#left_column .navbar-header .topmenu_label,
	#right_column .navbar-header .topmenu_label {
		line-height:36px;
	}
	#left_column .navbar-header button,
	#right_column .navbar-header button {
		margin-top:0;
		margin-bottom:0;
	}
	#left_column .navbar-collapse,
	#right_column .navbar-collapse{
		margin-top:15px;
		padding-top: 15px;
		border-color: #D7D7D7;
	}
	.navbar-nav > li{
		width:100%;
		text-align:left;
	}
	.navbar-popup-fullscreen{
		position:fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background: #FFFFFF;
		padding:0;
		margin:0;
		z-index:1100;
	}
	.navbar-popup-fullscreen.navbar-popup-fullscreen-on{
		display:block;
		padding:50px 15px 15px 15px;
		opacity: 1;
		height:auto;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		overflow: auto;
		background: #F5F5F5;
	}
	.navbar-popup-fullscreen.navbar-popup-fullscreen-off{
		height: 0px;
		opacity: 0;
		width: 0px;
		overflow: hidden;
	}
	.navbar-popup-fullscreen > ul{
		height:100%;
		overflow-y:auto;
		margin: 0;
	}
	.navbar-popup-fullscreen ul li a{
		padding:15px;
	}
	.navbar-popup-fullscreen .close{
		/*background: red;*/
		position: absolute;
		width: 32px;
		height: 32px;
		right: 10px;
		top: 10px;
		display: block;
		opacity: 1;
		margin-bottom:10px;
	}
}
@media (min-width: 768px){
	/*.navbar-header, */
	.navbar-collapse,
	/*.container > .navbar-header, */
	.container > .navbar-collapse,
	/*.container-fluid > .navbar-header, */
	.container-fluid > .navbar-collapse{
		margin-right: -15px;
		margin-left: -15px;
	}
	.navbar-default .navbar-nav > .open > a{
		background: initial;
		-webkit-box-shadow:initial;
		box-shadow:initial;
	}
	.navbar-default .navbar-nav > .open:not(:hover) > a{
		color: #777; 
	}
	.navbar-nav > li > a{
	
	}
	.navbar-default .navbar-nav > .active > a{
	
	}
	.navbar-popup-fullscreen .close{
		display:none;
	}
	
}
/************* NAVBARS STOP *************/

/******* SPECIAL FOR DROPDOWN MULTILEVEL MENU START *******/
.mnu-toggler{
	display:none !important;
}
.mnu-toggler-caret{
	float:right;
	position:relative;
	display:none;
	width:16px;
	height:24px;
	cursor:pointer;
	margin-top:-2px;
	/***********************/
	/*background: rebeccapurple;*/
}
.menu-render-type-2 .mnu-toggler-caret-active:hover,
.menu-render-type-4 .mnu-toggler-caret-active:hover {
	background: #AAAAAA;
	border-radius: 4px;
}
.menu-render-type-2 a .mnu-toggler-caret-active,
.menu-render-type-4 a .mnu-toggler-caret-active {
	/************************/
	/*background: red;*/
	width:24px;
}
.menu-render-type-2 .dropdown-menu,
.menu-render-type-4 .dropdown-menu{
	font-size:inherit;
	padding: 0;
	border-radius: 0;
	margin:0;
}
.menu-render-type-2 .dropdown > a .mnu-toggler-caret::after,
.menu-render-type-4 .dropdown > a .mnu-toggler-caret::after{
	display: block;
	content: " ";
	width: 0;
	height: 0;
	line-height:24px;
	border-color: transparent; 
	border-style: solid;
	border-width: 5px;
	margin-top: 7px;
	margin-left: 10px;
}
.menu-render-type-2 .dropdown-menu > li > a,
.menu-render-type-4 .dropdown-menu > li > a{
	padding: 10px 15px;
	white-space: normal;
}
.menu-render-type-2 .dropdown-menu > li:last-child > a/*,
.menu-render-type-4 .dropdown-menu > li:last-child > a*/{
	margin-bottom:0;
}
@media (max-width: 767px) {
	.navbar-nav > li.open > ul.dropdown-menu > li.open > ul.dropdown-menu > li > a{
		padding-left:40px;
	}
	.menu-render-type-2 ul{
		width:100%;
		position: relative;
		border: 0px none;
		border-radius: 0;
		background: transparent;
		box-shadow: none;
	}
	.menu-render-type-2 .navbar-nav{
		width:auto;
	}
	.menu-render-type-2 .dropdown-menu > li > a,
	.menu-render-type-4 .dropdown-menu > li > a,
	.menu-render-type-2 .navbar-nav a,
	.menu-render-type-2 .navbar-nav .open .dropdown-menu > li > a, 
	.menu-render-type-2 .navbar-nav .open .dropdown-menu .dropdown-header{
		padding-top:10px;
		padding-bottom:10px;
	}
	.menu-render-type-2 .nav > li.open > ul.dropdown-menu > li > a,
	.menu-render-type-4 .nav > li.open > ul.dropdown-menu > li > a{
		padding-left:30px;
	}
	.menu-render-type-2 .nav > li.open > ul.dropdown-menu > li.open > ul.dropdown-menu > li > a,
	.menu-render-type-4 .nav > li.open > ul.dropdown-menu > li.open > ul.dropdown-menu > li > a{
		padding-left:45px;
	}
	.menu-render-type-2 .dropdown > a .mnu-toggler-caret,
	.menu-render-type-4 .dropdown > a .mnu-toggler-caret{
		display:block;
	}
	.menu-render-type-2 .dropdown > a .mnu-toggler-caret::after,
	.menu-render-type-4 .dropdown > a .mnu-toggler-caret::after{
		margin-top: 10px;
		margin-left: 7px;
		border-top-color: inherit;
		border-bottom-color: transparent;
	}
	.menu-render-type-2 .dropdown.open > a .mnu-toggler-caret::after,
	.menu-render-type-4 .dropdown.open > a .mnu-toggler-caret::after{
		margin-top: 4px;
		border-top-color: transparent;
		border-bottom-color: inherit;
	}
	.menu-render-type-4 .dropdown-menu{
		position: relative;
		float: none;
		border: 0px none;
		background: transparent;
		box-shadow: none;
	}
}
@media (min-width: 768px) {
	.menu-render-type-2 .dropdown-menu {
		min-width: 250px;
	}
	.menu-render-type-2 .dropdown-menu .dropdown-menu {
		left: 100%;
		position: absolute;
		top: 0;
		border: 1px solid #ccc
	}
	.menu-render-type-2 .navbar-nav .dropdown-menu .dropdown-menu {
		margin-top: -1px;
	}
	.menu-render-type-4 .dropdown-menu{
		position: relative;
		float: none;
		border: 0px none;
		background: transparent;
		box-shadow: none;
	}
	.menu-render-type-4 .dropdown-menu > li > a{
		padding-top:10px;
		padding-bottom:10px;
	}
	.menu-render-type-4 .nav > li.open > ul.dropdown-menu > li > a{
		padding-left:30px;
	}
	.menu-render-type-4 .nav > li.open > ul.dropdown-menu > li.open > ul.dropdown-menu > li > a{
		padding-left:45px;
	}
	
	#left_column .menu-render-type-2 .dropdown-menu{
		left: 100%;
		right: auto;
		top: 0;
	}
	#right_column .menu-render-type-2 .dropdown-menu{
		left: auto;
		right: 100%;
		top: 0;
	}
	.menu-render-type-2 .dropdown > a .mnu-toggler-caret,
	#left_column .menu-render-type-2 .dropdown > a .mnu-toggler-caret,
	#right_column .menu-render-type-2 .dropdown > a .mnu-toggler-caret,
	.menu-render-type-4 .dropdown > a .mnu-toggler-caret{
		display:block;
	}
	.menu-render-type-2 .dropdown > a .mnu-toggler-caret:after,
	#left_column .menu-render-type-2 .dropdown > a .mnu-toggler-caret::after,
	#right_column .menu-render-type-2 .dropdown > a .mnu-toggler-caret::after{
		border-left-color: inherit;
	}
	.menu-render-type-2 .navbar-nav >.dropdown > a .mnu-toggler-caret{
		margin-top: -4px;
	}
	.menu-render-type-2 .navbar-nav >.dropdown > a .mnu-toggler-caret:after,
	.menu-render-type-4 .dropdown > a .mnu-toggler-caret:after{
		margin-top: 10px;
		margin-left: 7px;
		border-color: transparent;
		border-top-color: inherit;
	}
	.menu-render-type-4 .dropdown.open > a .mnu-toggler-caret:after{
		margin-top: 4px;
		margin-left: 7px;
		border-color: transparent;
		border-bottom-color: inherit;
	}
}
/******* SPECIAL FOR DROPDOWN MULTILEVEL MENU STOP *******/

/************* NAV-PILLS START *************/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	background-color: #406382;
	color: #FFFFFF;
}
/************* NAV-PILLS STOP *************/

/************* DROPDOWN MENU COLORS START *************/
.dropdown-menu > li > a{
	color:#333333;
}
.dropdown-menu > .active > a {
	background: #E2E2E2;
	color:#333333;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background: #CCCCCC;
	color:#000000;
	-webkit-box-shadow: none;
			box-shadow: none;
}
@media (max-width: 767px) {
	.navbar .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar .navbar-nav .open .dropdown-menu > .active > a:focus{
		background: #CCCCCC;
		color:#000000;
		-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
				box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	}
}
/************* DROPDOWN MENU COLORS STOP *************/

/******* SPECIAL FOR DROPDOWN HOVER MENU START *******/
@media (min-width: 768px) {
	.menu-render-type-2 .hover-dropdown .dropdown-menu .dropdown-menu{
		visibility: hidden;
	}
	.menu-render-type-2 .hover-dropdown .dropdown-menu li:hover .dropdown-menu {
		visibility: visible;
	}
	.menu-render-type-2 .hover-dropdown li.open > a{
		box-shadow:none;
	}
	.menu-render-type-2 .hover-dropdown li.open > a:hover{
		
	}
	.menu-render-type-2 .hover-dropdown .open>.dropdown-menu{
		display: none;
	}
	.menu-render-type-2 .hover-dropdown .dropdown:hover .dropdown-menu {
		display: block;
	}
	.menu-render-type-2 .hover-dropdown .dropdown-menu {
		margin-top: 0;
		border-radius: 0;
	}
	/*
	.menu-render-type-2 .hover-dropdown .dropdown-menu:before {
		border-bottom: 0px solid transparent;
		border-left: none;
		border-right: 0px solid rgba(0, 0, 0, 0.2);
		border-top: 0px solid transparent;
		left: -7px;
		top: 10px;
	}
	.menu-render-type-2 .hover-dropdown .dropdown-menu:after {
		border-top: 0px solid transparent;
		border-left: none;
		border-right: 0px solid #fff;
		border-bottom: 0px solid transparent;
		left: 10px;
		top: 11px;
		left: -6px;
	}
	*/
	.menu-render-type-2 .hover-dropdown .mnu-toggler-caret-active:hover,
	.menu-render-type-4 .hover-dropdown .mnu-toggler-caret-active:hover {
		background: transparent;
	}
	.menu-render-type-2 .hover-dropdown .mnu-toggler-caret{
		/* Hide carets */
		width:16px;
		/* display:none !important; */
	}
}
/******* SPECIAL FOR DROPDOWN HOVER MENU STOP *******/

/************** CATALOG START **************/
@media (max-width: 575px) {
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-6.col-md-6:nth-child,
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-4.col-md-4:nth-child,
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-3:nth-child,
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-2:nth-child{
		clear:both;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-6.col-md-6:nth-child(2n+3),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-4.col-md-4:nth-child(2n+3),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-3:nth-child(2n+3),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-2:nth-child(2n+3){
		clear:both;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-6.col-md-6:nth-child(2n+3),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-4.col-md-4:nth-child(3n+4),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-3:nth-child(4n+5),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-2:nth-child(4n+5){
		clear:both;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-6.col-md-6:nth-child(2n+3),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-4.col-md-4:nth-child(3n+4),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-3:nth-child(4n+5),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-2:nth-child(6n+7){
		clear:both;
	}
}
@media (min-width: 1200px) {
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-6.col-md-6:nth-child(2n+3),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-4.col-md-4:nth-child(3n+4),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-3:nth-child(4n+5),
	.goods-list>.goods-element.col-xss-12.col-xs-6.col-sm-3.col-md-2:nth-child(6n+7){
		clear:both;
	}
}
/************** CATALOG STOP ***************/

/************** BASKET START ***************/
#info_container .delivery_text{
	
}
#info_container .total_text{
	
}
.full_basket .basket-row a.b_link_save img {
	background: url("/templates/html5/images/button_save_32.png") no-repeat center center; 
}
.full_basket .basket-row a.b_link_del img { 
	background: url("/templates/html5/images/button_delete_32.png") no-repeat center center; 
}

.full_basket_ajax .basket-row a.b_link_save img {
	background: url("/images/button_save.png") no-repeat center center; 
}
.full_basket_ajax .basket-row a.b_link_del img { 
	background: url("/images/button_delete.png") no-repeat center center; 
}
.full_basket_ajax .basket-header{
	font-weight:bold;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom: 1px solid #CCCCCC;
}
.full_basket_ajax .basket-header-sku,
.full_basket_ajax .basket-header-name,
.full_basket_ajax .basket-header-points,
.full_basket_ajax .basket-header-price,
.full_basket_ajax .basket-header-quantity,
.full_basket_ajax .basket-header-measure,
.full_basket_ajax .basket-header-sum{
	
}
.full_basket_ajax .basket-header-measure{
	text-align:center;	
}
.full_basket_ajax .basket-header-points,
.full_basket_ajax .basket-header-price,
.full_basket_ajax .basket-header-quantity,
.full_basket_ajax .basket-header-sum{
	text-align:center;	
}
.full_basket_ajax .basket-body .row>div{
	padding-bottom:10px;
}
.full_basket_ajax .basket-row{
	margin-bottom:10px;
	border-bottom: 1px solid #CCCCCC;
}
.full_basket_ajax .basket-row.error{
	background-color: #FFA8A4;
}
.full_basket_ajax .basket-row-options{
	color:#777777;
	font-size: 80%;
	display:block;
}
.full_basket_ajax .basket-footer{
	font-weight:bold;
	margin-bottom:15px;
}
.full_basket_ajax .basket-footer .row {
	margin-bottom:10px;
}
.full_basket_ajax .basket-footer .buttons{

}
.full_basket_ajax .basket-row-sku *,
.full_basket_ajax .basket-row-name *,
.full_basket_ajax .basket-row-points *,
.full_basket_ajax .basket-row-price *,
.full_basket_ajax .basket-row-quantity *,
.full_basket_ajax .basket-row-measure *,
.full_basket_ajax .basket-row-sum *{

}
.full_basket_ajax .basket-row-quantity{
	text-align:center;
}
.full_basket_ajax .basket-row-points,
.full_basket_ajax .basket-row-price,
.full_basket_ajax .basket-row-sum{
	text-align:right;
}
.full_basket_ajax .basket-row-measure,
.full_basket_ajax .basket-row-quantity{
	text-align:center;
}
.full_basket_ajax .basket-row-quantity{
	padding-right:50px;
}
.full_basket_ajax .basket-row-quantity.read-only{
	padding-right:15px;
}
.full_basket_ajax .basket-row-sum{
	padding-right:50px;
}
.full_basket_ajax .basket-row-sum.read-only{
	padding-right:15px;
}
.full_basket_ajax div.empty_basket{
	font-weight:bold;
	margin:0;
	padding:2px 4px;
}
.full_basket_ajax .basket-row a.b_link_save, 
.full_basket_ajax .basket-row a.b_link_del{
	display:block;
	position:absolute;
	right:15px;
	top:0;
	width:32px;
	height:32px;
}
.full_basket_ajax .basket-row a.b_link_save img, 
.full_basket_ajax .basket-row a.b_link_del img{
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}
@media (min-width: 768px) {
	.full_basket_ajax{
		min-width: 760px;
	}
}
@media (max-width: 767px) {
	.full_basket_ajax .basket-body .row>div{
		line-height: 24px;
	}
	.full_basket_ajax .basket-row-quantity,
	.full_basket_ajax .basket-row-measure,
	.full_basket_ajax .basket-row-points,
	.full_basket_ajax .basket-row-price,
	.full_basket_ajax .basket-row-sum{
		text-align:left;
	}
	.full_basket_ajax .basket-row-sku *,
	.full_basket_ajax .basket-row-name *,
	.full_basket_ajax .basket-row-points *,
	.full_basket_ajax .basket-row-price *,
	.full_basket_ajax .basket-row-quantity *,
	.full_basket_ajax .basket-row-measure *,
	.full_basket_ajax .basket-row-sum *{
		margin-bottom:5px;
		line-height:inherit;
	}
	.full_basket_ajax .basket-footer-points{
		margin-bottom:10px;
	}
}
/************** BASKET STOP ****************/

/************** MINIBASKET START **************/
.minibasket{
	background: url("/templates/html5/images/basket.png") no-repeat center center;
	width:32px;
	height:32px;
	display:block;
}
.minibasket-full a{
	width:32px;
	height:32px;
	display:block;
}
.minibasket-full .minibasket-quantity{
	border-radius:50%;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	background: #ED1C24;
	color:#FFFFFF;
	font-size:10px;
	position:absolute;
	top:-10px;
	right:-10px;
	z-index:2;
	font-weight:400;
	font-family:sans-serif;
}
/************** MINIBASKET STOP **************/

/********** BUTTONS COLORS START ***********/
.btn-default {
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
	background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
	background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
}
.btn-default:focus, .btn-default:hover {
	background-color: #e0e0e0;
	background-position: 0 -15px;
}
.btn-default.active, .btn-default:active {
	background-color: #e0e0e0;
	border-color: #dbdbdb;
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
	background-color: #e0e0e0;
	background-image: none;
}
.btn-primary {
	background-image: -webkit-linear-gradient(top, #337ab7 0, #265a88 100%);
	background-image: -o-linear-gradient(top, #337ab7 0, #265a88 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
	background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #245580;
}
.btn-primary:focus, .btn-primary:hover {
	background-color: #265a88;
	background-position: 0 -15px;
}
.btn-primary.active, .btn-primary:active {
	background-color: #265a88;
	border-color: #245580;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #265a88;
	background-image: none;
}
.btn-success {
	background-image: -webkit-linear-gradient(top, #5cb85c 0, #419641 100%);
	background-image: -o-linear-gradient(top, #5cb85c 0, #419641 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
	background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #3e8f3e;
}
.btn-success:focus, .btn-success:hover {
	background-color: #419641;
	background-position: 0 -15px;
}
.btn-success.active, .btn-success:active {
	background-color: #419641;
	border-color: #3e8f3e;
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #419641;
	background-image: none;
}
.btn-info, .btn-info:link, .btn-info:visited {
	background-image: -webkit-linear-gradient(top, #3c7fab 0, #204567 100%);
	background-image: -o-linear-gradient(top, #3c7fab 0, #204567 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c7fab), to(#204567));
	background-image: linear-gradient(to bottom, #3c7fab 0, #204567 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff3c7fab', endColorstr='#ff204567', GradientType=0);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #204567;
	color: #fff;
}
.btn-info:focus, .btn-info:hover {
	background-color: #204567;
	border-color: #204567;
	background-position: 0 -15px;
}
.btn-info.active, .btn-info:active {
	background-color: #204567;
	border-color: #204567;
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
	background-color: #2aabd2;
	background-image: none;
}
.btn-warning, .btn-warning:link, .btn-warning:visited {
	background-image: -webkit-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
	background-image: -o-linear-gradient(top, #f0ad4e 0, #eb9316 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
	background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #e38d13;
}
.btn-warning:focus, .btn-warning:hover {
	background-color: #eb9316;
	background-position: 0 -15px;
}
.btn-warning.active, .btn-warning:active {
	background-color: #eb9316;
	border-color: #e38d13;
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
	background-color: #eb9316;
	background-image: none;
}
.btn-danger, .btn-danger:link, .btn-danger:visited {
	background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
	background-image: -o-linear-gradient(top, #d9534f 0, #c12e2a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
	background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #b92c28;
}
.btn-danger:focus, .btn-danger:hover {
	background-color: #c12e2a;
	background-position: 0 -15px;
}
.btn-danger.active, .btn-danger:active {
	background-color: #c12e2a;
	border-color: #b92c28;
}
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
	background-color: #c12e2a;
	background-image: none;
}
/********** BUTTONS COLORS STOP ************/

/*********** SOCIAL NETWORKS START ***********/
.socials{ }
.socials .social{
	display: inline-block;
	*display: inline;
	width: 64px;
	height: 64px;
	margin-right: 5px;
	background-position: center center;
	background-size: initial;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: transparent;
}
.socials .social.social-askme{ background-image: url("/images/sn/64/askme.png"); }
.socials .social.social-facebook{ background-image: url("/images/sn/64/facebook.png"); }
.socials .social.social-googleplus{ background-image: url("/images/sn/64/googleplus.png"); }
.socials .social.social-instagram{ background-image: url("/images/sn/64/instagram.png"); }
.socials .social.social-linkedin{ background-image: url("/images/sn/64/linkedin.png"); }
.socials .social.social-mailru{ background-image: url("/images/sn/64/mailru.png"); }
.socials .social.social-messenger{ background-image: url("/images/sn/64/messenger.png"); }
.socials .social.social-ok{ background-image: url("/images/sn/64/ok.png"); }
.socials .social.social-pinterest{ background-image: url("/images/sn/64/pinterest.png"); }
.socials .social.social-reddit{ background-image: url("/images/sn/64/reddit.png"); }
.socials .social.social-skype{ background-image: url("/images/sn/64/skype.png"); }
.socials .social.social-snapchat{ background-image: url("/images/sn/64/snapchat.png"); }
.socials .social.social-tumblr{ background-image: url("/images/sn/64/tumblr.png"); }
.socials .social.social-twitter{ background-image: url("/images/sn/64/twitter.png"); }
.socials .social.social-vine{ background-image: url("/images/sn/64/vine.png"); }
.socials .social.social-vk{ background-image: url("/images/sn/64/vkontakte.png"); }
.socials .social.social-whatsapp{ background-image: url("/images/sn/64/whatsapp.png"); }
.socials .social.social-yandex{ background-image: url("/images/sn/64/yandex.png"); }
.socials .social.social-youtube{ background-image: url("/images/sn/64/youtube.png"); }
/*********** SOCIAL NETWORKS STOP ***********/
/*********************************************************************************************************************/
a.editButton,
a.deleteButton{
	background:none;
	height:24px !important;
	width:24px !important;
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:120%;
}
a.editButton:hover,
a.deleteButton:hover{
	text-decoration: none;
}
a.editButton:before{
	content: "\270f";
}
a.deleteButton:before{
	content: "\e020";
}
/*********************************************************************************************************************/
/*
div.navbar-collapse { background: green; }
ul.navbar-nav { background: blue; }
ul.nav-pills { background: rebeccapurple; }
.container{ background: red; }
*/