@CHARSET "UTF-8";
html { width : 100%; height : 100%; background	: #FFFFFF;	color	: #000000; margin	: 0; padding : 0; }
body { background:#FFFFFF; color: #000000; font-family: Helvetica,Arial,sans-serif; font-size : 12px; line-height : 1.3em; font-style : normal; margin : 0;	padding : 0; }
hr#system-readmore{ display : none !important; }
img, body, html { border : 0 none; }
a, a:link, a:visited, a:active { color : #0000FF; text-decoration:none; }
a:hover { color	: #FF0000; }
.arr_dbg_head {	border:1px solid black;	padding:2px;	margin-top:1px; }
.arr_dbg_head big{	background-color:red;	color:white;	cursor:pointer;	font-weight:bold;	padding:2px 2px 1px;	display: block; }
.arr_dbg{	border-left:1px solid red;	border-right:1px solid red;	border-bottom:1px solid red; }
div.moduleBreadcrumb, div.moduleHeader{ display:none; }
div.one_order{ width:700px; margin:0 auto; border: 1px dotted; }
@media print {
	.container {
		width:100%;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	  float: left !important;
	}
	.col-sm-12 {
		width: 100% !important;
	}
	.col-sm-11 {
		width: 91.66666667% !important;
	}
	.col-sm-10 {
		width: 83.33333333% !important;
	}
	.col-sm-9 {
		width: 75% !important;
	}
	.col-sm-8 {
		width: 66.66666667% !important;
	}
	.col-sm-7 {
		width: 58.33333333% !important;
	}
	.col-sm-6 {
		width: 50% !important;
	}
	.col-sm-5 {
		width: 41.66666667% !important;
	}
	.col-sm-4 {
		 width: 33.33333333% !important;
	}
	.col-sm-3 {
		width: 25% !important;
	}
	.col-sm-2 {
		width: 16.66666667% !important;
	}
	.col-sm-1 {
		width: 8.33333333% !important;
	}
	.hidden-xs{
		display:block !important;
	}
	.visible-xs{
		display:none !important;
	}
}
