@CHARSET "UTF-8";
.acl-manager label{
	cursor:pointer;
}
tr.aclgroup {
	background	: url("/images/sprav/gray-top-bottom.gif") repeat scroll center top transparent;
}
.acl-manager  td{
	padding:4px;
}
.acl-manager fieldset tr:hover td{
	background:#CCCCCC;
}
.acl-manager fieldset{
	border-radius:4px;
}
