@CHARSET "UTF-8";
.installerModule .install-list{
	margin-bottom:15px;
	overflow-x:auto;
}
.installerModule .install-form{
	
}
.installerModule .install-form .row{
	margin-bottom:15px;
}
.installerModule .install-form .row input[type=text]{
	width:100%;
}
.installerModule .install-form .row .fileselector>div{
	width:100%;
	padding-right:28px;
}
.installerModule .install-form .row .fileselector>div>div{
	position:absolute !important;
	right:0;
	top:0;
}